	<div class="intro intro-services">
		<div class="intro-image">
			<img src="css/images/temp/intro-about.jpg" height="286" width="1600" alt="" />
		</div><!-- /.intro-image -->

		<div class="intro-content">
			<div class="row">
				<h1>About Us</h1>
			</div><!-- /.row -->
		</div><!-- /.intro-content -->
	</div><!-- /.intro -->

	<div class="container">
		<div class="container-body">
			<section class="section section-team">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Meet our team</h2>

							<p>
								At Chatterboxes, we know your child's tiny heart is the center of your world, and for that reason our compassionate therapists aim for big results.
							</p>
						</header><!-- /.section-head -->

						<div class="section-body">
							<div class="slider-team" data-slide-position='1'>
								<div class="slider-clip">
									<ul class="slides">
										<li class="slide current">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/megan_bio.png" height="390" width="257" alt="Megan Rozantes - Speech Pathologist" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Megan</span>

												<p>Speech-Language Pathologist, Director</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/brittany_bio.png" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Brittany</span>

												<p>Speech-Language Pathologist, Associate Director</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/elizabeth_bio.png" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Elizabeth</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/allison_bio.png" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Allison</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide staff-hidden">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/heather_bio.png" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Heather</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide staff-hidden">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/suzie_bio.jpg" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Suzie</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/briana_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Briana O'Neill</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/erika_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Erika See</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

									</ul><!-- /.slides -->
								</div><!-- /.slider-clip -->

								<div class="slider-actions">
									<a href="#" class="slider-prev"></a>
									<a href="#" class="slider-next"></a>
								</div><!-- /.slider-actions -->
							</div><!-- /.slider-team -->
						</div><!-- /.section-body -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-team -->

			<div class='bio-paragraphs'>
				<section class="section section-current">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Megan Rozantes, M.S., CCC-SLP,</h4>

									<span>Speech-Language Pathologist, Director</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/megan.rozantes.5" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://twitter.com/ChatterboxesSLP" class="link-twitter" target="_blank">twitter</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=194329185&trk=nav_responsive_tab_profile_pic" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Megan's passion for helping others coupled with her enthusiasm for working with young children as a Speech-Language
										Pathologist serves as the cornerstone of Chatterboxes' core values and standards. Megan's positive personality and steadfast desire to transform the provision of speech-language services into a delightful experience for children and their parents led her to found Chatterboxes to be the best-in-class pediatric practice that it is today.
									</p>

									<p>
										Megan is always available to past, current or future patients as well as any other parents who may be seeking advice or guidance regarding their children's communicative skills and/or speech and language development.
									</p>

									<p>
										Megan can be reached via our main phone at <span>617-969-TALK (8255)</span> or via email at <a href="#">megan@teamchatterboxes.com.</a>
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Brittany Doyle, M.S., CCC-SLP,</h4>

									<span>Speech-Language Pathologist, Associate Director</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=299100497&authType=NAME_SEARCH&authToken=rT-r&locale=en_US&trk=tyah2&trkInfo=tarId%3A1411586032158%2Ctas%3ABritt%2Cidx%3A1-1-1" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Brittany's warm and encouraging nature is evident in her thoughtful provision of therapy services and the connections she establishes with each of her patients. As a valued member of the Chatterboxes team, Brittany evaluates and treats children ranging from age 18 months to 14 years with various speech-language issues including articulation and phonological disorders, expressive and receptive language delays and disorders, pragmatic language disorders, Autism Spectrum Disorders, Nonverbal Learning Disability, Sensory Processing Disorder, and Sensorineural Hearing Loss.
									</p>

									<p>
										In addition to one-to-one treatment sessions, Brittany also facilitates pragmatic group therapy sessions at Chatterboxes. This group-based setting allows Brittany to help children with social-pragmatic and language disorders to use language and play-skills appropriately in a functional context, during cooperative play with peers.
									</p>

									<p>
										Brittany emphasizes collaboration with families, teachers, and other specialists involved in her patient's lives. Brittany takes extra care to spend time with families to create strategies and techniques for improving their children's communication at home by developing customized home based activities based on each child's specific skill levels and goals. Brittany employs The Hanen Centre's 'It Takes Two to Talk' program which provides parents of early intervention (birth - three years) aged children with techniques for facilitating communication, interaction, and play skills in a home-based environment.
									</p>

									<p>
										Brittany utilizes a play-based therapy style as a means of making therapy fun, goals functional, and facilitating carryover of language goals into everyday life. Brittany's fun and enjoyable therapy sessions will often leave children thinking they are on a play-date with one of their best friends; all the while gaining essential speech and language skills.
									</p>

									<p>
										Brittany is trained in PROMPT therapy, a motor-speech based therapy approach which utilizes a tactile cueing system for facilitating speech sound production. This method is highly effective with all types of speech sound delays and disorders and is particularly useful with children diagnosed with Childhood Apraxia of Speech (CAS).
									</p>

									<p>
										Brittany's previous experiences with the pediatric population have included a variety of settings. Brittany provided outpatient speech-language therapy at Beverly Hospital, to children ranging from age two through adolescence. She worked closely with classroom teachers, psychologists, paraprofessionals, and parents of students in grades 4-8 at the Edith Baker School in Chestnut Hill where she provided group intervention and in-class consultations, supporting students' pragmatics, social-emotional skills, fluency, receptive and expressive language, and articulation. Brittany also participated in the New England Fluency Program, an intensive therapy program for individuals who stutter. Additional experiences have included speech and language therapy at the Northeastern Speech-Language and Hearing Center, Language Literacy support at Boston Renaissance Charter School, and Language Stimulation to preschool students at the Russell J. Call Children's Center. During her undergraduate career at Northeastern Brittany completed a six-month Cooperative education experience at Children’s Hospital Boston in the Department of Otolaryngology and Communication Disorders.
									</p>

									<p>
										Brittany graduated Summa Cum Laude from Northeastern University with a Bachelor of Science in Speech-Language Pathology and Audiology. Brittany was chosen to enroll in an accelerated program which allowed her to continue her studies at Northeastern, subsequently earning a Master of Science in Speech-Language Pathology. Throughout her academic career at Northeastern, Brittany maintained a 3.9 GPA. Brittany was inducted into the Bouve School of Health Sciences Honors society, an award given to students in the top five percent of their class.
									</p>

									<p>
										Brittany resides in Boston. Her hobbies include running, dancing and playing lacrosse. She enjoys visiting her family in Connecticut, spending time with friends and exploring new places through travel.
									</p>

									<p>
										Brittany can be reached via our main phone at 617-969-TALK (8255) or via email at brittany@teamchatterboxes.com.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Elizabeth Lightowler, M.S., CCC-SLP,</h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=233414260&authType=NAME_SEARCH&authToken=4qix&locale=en_US&trk=tyah2&trkInfo=tarId%3A1411586201626%2Ctas%3Aelizabeth%20ligh%2Cidx%3A1-1-1" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Elizabeth's passion for working with children and her energetic personality creates a positive environment for children to achieve success in speech and language. Elizabeth believes a critical component to achieving speech and language goals is the establishment of a positive and productive rapport with the children and families. Through the implementation of creative teaching approaches, Elizabeth strives for her patients to be successful in reaching new goals. Additionally, her flexibility has enabled her to quickly make adaptations to facilitate learning and social growth for all of her patients.
									</p>

									<p>
										Elizabeth evaluates and treats children ranging from 18 months to 14 years old with various speech-language issues and a variety of diagnoses including: articulation disorders, phonological disorders, feeding disorders, expressive and receptive language disorders, pragmatic language disorders, developmental delays, Autism, and Down Syndrome.
									</p>

									<p>
										Elizabeth's previous experiences with the pediatric population have included a variety of settings. She worked closely with families of children from ages 2-10 years old at OTA Pediatric Speech-Language and Feeding Clinic in Wakefield. Elizabeth provided speech-language therapy in the public school setting with intensive and typical students ranging from 5 -15 years old. She collaborated with classroom teachers, psychologists, paraprofessionals, and parents of students in grades K-5 at SEEM Collaborative and Waltham Public Schools in order to individualize each student's program and to maximize carryover to other settings. Elizabeth has had the opportunity to co-treat and co-teach speech and language skills with physical and occupational therapists, as well as elementary school general and special education teachers. Additional experiences have included speech and language therapy at MGH Speech, Language and Literacy Clinic, Boston Public Schools, and Spaulding Hospital for Continuing Medical Care.
									</p>

									<p>
										Elizabeth graduated magna cum laude from the University of Connecticut with a double major. She received a Bachelor of Art degree in Communication Disorders and in Psychology. Elizabeth made the Dean's List all four years and was named a "New England Scholar." She received her Master of Science degree in Speech-Language Pathology from MGH Institute of Health Professions in Boston. She is a Certified Member of the American Speech-Language Hearing Association ("ASHA").
									</p>

									<p>
										Elizabeth currently lives in Boston. Her hobbies include running, cooking, and traveling. She enjoys spending time with her family and dogs in Connecticut, recharging on Newfound Lake, and attending all Boston sports events.
									</p>

									<p>
										Elizabeth can be reached via our main phone at 617-969-TALK (8255) or via email at elizabeth@teamchatterboxes.com.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Allison Goff, M.S., CCC-SLP,</h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=139852826&authType=NAME_SEARCH&authToken=IcXt&locale=en_US&trk=tyah2&trkInfo=tarId%3A1411586272734%2Ctas%3Aallison%2Cidx%3A1-3-3" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Allison's engaging personality and passion for working with children and their families creates a positive environment for children to achieve success in speech and language. She is driven by a desire to instill confidence and ensure that all children communicate to the best of their ability. Allison believes that open communication with parents, teachers, medical professionals and physical and occupational therapists is crucial to achieving success in the areas of speech and language.
									</p>

									<p>
										Allison evaluates and treats children ranging from age 18 months to 14 years in the areas of articulation disorders, phonological disorders, expressive and receptive language disorders, developmental delays, fluency (i.e., stuttering), resonance disorders (e.g., velopharyngeal insufficiency) and autism spectrum disorders.
									</p>

									<p>
										Most recently, Allison has worked with a nonprofit organization in several educational settings providing speech and language intervention for children who have psychological and significant disabilities. In this role, she has had the opportunity to work directly with students and their educational and therapy teams to ensure that goals are functional and attainable.
									</p>

									<p>
										Previous experience includes serving as the speech-language pathologist at Mt. Pleasant Elementary School in Mt. Pleasant, North Carolina. In this capacity, Allison provided therapy in individual and small-group settings and frequently pushed-in to the classroom to assess generalization of skills learned in the therapy setting. She continuously collaborated with parents and professionals to ensure appropriate provision of services. Allison utilized the Response to Intervention model in order to differentiate between delay and disorder.
									</p>

									<p>
										Allison's additional clinical experiences included the provision of speech, language & feeding and swallowing evaluation and treatment at SUNY Upstate Medical University Hospital, the Syracuse Veterans Administration Medical Center and the Gebbie Speech-Language-Hearing Clinics. Allison re-discovered her love for working with children during her time at the North Syracuse Early Education Program where she served preschoolers with speech and language delay and autism spectrum disorders.
									</p>

									<p>
										Allison earned a Master of Science in Speech-Language Pathology from Syracuse University. Prior to her Master's program, Allison attended North Carolina State University and earned a Bachelor of Arts degree in Communication with a concentration in Communication Disorders. She graduated Cum Laude and earned honors from the Department of Communication based on her research and resulting thesis "Recognition and intervention of language disorders in children: perceived roles of parents, teachers, pediatricians and the speech-language pathologist." As a John T. Caldwell Fellow, Allison had the opportunity to travel to London where she met with researchers regarding Specific Language Impairment and phonemic awareness in children, and spent time in Bosnia working with an after-school organization created to provide support for children with special needs and their families.
									</p>

									<p>
										Allison resides in Cambridge and likes to learn more about the history of and explore the Boston area. She enjoys music, cooking, traveling to visit family in North Carolina and is happy ACC athletics are now televised in New England so she can watch and cheer for her beloved NC State Wolfpack.
									</p>

									<p>
										Chatterboxes is grateful to count Allison as an accomplished team member. Allison's engaging personality and passion for working with children and their families creates a positive environment for children to achieve success.
									</p>

									<p>
										Allison can be reached via our main phone at 617-969-TALK (8255) or via email at allison@teamchatterboxes.com.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Heather Hachenburg, M.S., CCC-SLP,</h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=238338199&authType=NAME_SEARCH&authToken=wxK7&locale=en_US&trk=tyah&trkInfo=tarId%3A1411586397455%2Ctas%3AHeather%20Hachen%2Cidx%3A1-1-1" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Heather’s energetic and creative personality creates a positive environment for her patients to learn and achieve their goals. Heather establishes connections with her patients with ease, and tailors therapy sessions to each patient’s individual needs and interests. Maintaining open communication with team members (parents, teachers, occupational therapists, physical therapists, etc.) is one of Heather’s priorities. Heather believes that for a child to be successful and reach their speech and language goals, all team members must work together and communicate on an on-going basis. Heather goes the extra mile, diligently creating home programs and ensuring that goals and reports are comprehensible to all team members. Heather believes that constant practice and generalization of skills is an integral part of the therapy process and a child’s success. Through the implementation of play-based therapy and a multimodality approach, Heather strives for her patients to be successful in reaching their optimal potentials.
									</p>

									<p>
										As a member of the Chatterboxes team, Heather evaluates and treats children ranging from early intervention to school-aged with expressive and receptive language delays and disorders, pragmatic language disorders, articulation disorders, Autism Spectrum Disorders, phonological disorders, fluency disorders and feeding disorders. Additionally, Heather provides her services on-site, at Chatterboxes as well as in patient’s homes.
									</p>

									<p>
										Heather graduated from The George Washington University with a Bachelor of Arts in Speech and Hearing Science where she served as the Co-Vice President and Co-President of the National Student Speech Language and Hearing Committee. She was also a Volunteer Research Assistant for a Bilingual Acquisition Project entitled “Patterns of Spanish-English Bilingual First Language Acquisition and their Environmental Correlates” funded by the Institutes of Health. She subsequently earned her Master of Arts in Speech Language Pathology from The George Washington University.
									</p>

									<p>
										Heather currently resides in Chestnut Hill. She enjoys hiking, running, cooking, traveling, reading, and spending time with family and friends.
									</p>

									<p>
										Heather can be reached via our main phone at 617-969-TALK (8255) or via email at heather@teamchatterboxes.com.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4>Suzie McGinn, M.S., CCC-SLP</h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Suzie’s engaging personality and enthusiasm for working with young children and their families help create a positive environment for children to achieve success in their speech and language skills. Suzie fosters collaboration with families and other professionals including specialists, teachers, and other team members, in a child’s therapy. Such collaboration is essential in the treatment process, to foster client growth and carryover. Suzie excels in utilizing a play-based therapy style that is tailored to each child’s interests as a means to make therapy fun and functional.
									</p>

									<p>
										Suzie’s strong experience  with the pediatric population encompasses a variety of settings including private practice, public school, and rehabilitation centers.
									</p>

									<p>
										Suzie evaluates and treats children ranging from age 18 months to 15 years with various speech-language issues including: articulation and phonological disorders, expressive and receptive language delays and disorders, Autism Spectrum Disorder, pragmatic language disorders, Childhood Apraxia of Speech, fluency disorder, voice disorders, tongue thrust, and feeding disorders. Suzie implements the SMILE Program, by Robyn Merkel, to treat tongue thrusts and lisps.
									</p>

									<p>
										Suzie obtained her undergraduate degree from Assumption College, where she studied human services and rehabilitation studies with a concentration in communication disorders. She graduated from the College of Saint Rose with a Master of Science degree in speech-language pathology. Suzie received her certificate of clinical competence from the American Speech-Language-Hearing Association (ASHA) and is licensed to practice speech-language pathology within the Commonwealth of Massachusetts.
									</p>

									<p>
										Suzie resides in Boston. Her hobbies include traveling, friends, and being with family.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Briana O'Neill, M.S., CCC-SLP,</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/in/boneillslp" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Briana’s strong analysis and problem-solving skills, paired with innovative thinking, creates a unique therapy practice that instills client growth and achievement. She believes in providing a therapeutic style of encouragement, fostering intrinsic motivation within each client. She is a resourceful, poised and competent clinician that prioritizes family collaboration and flexibility in therapy approaches.
                  </p>

                  <p>
                    Briana has specialized education and exceptional clinical experiences in the assessment and treatment of children with Communication Disorders. Her myriad of experiences in public schools, private practices, and rehabilitation centers include treatment of children, 36 months through adolescence, with diagnoses of: Autism Spectrum Disorders, social-pragmatic language disorders, expressive and receptive language disorders, childhood apraxia of speech, fluency disorders, articulation disorders, phonological disorders and pediatric feeding disorders.
                  </p>

                  <p>
                    Briana earned her Bachelor’s of Art from Eckerd College in St. Petersburg Beach, Florida.  Here, she studied Human Development with a focus on Health and Wellness. She travelled to 15 countries while studying abroad in London, England and served as a service learning volunteer in many of these countries.
                  </p>

                  <p>
                    Briana then moved back to her home state of Connecticut to pursue her Master of Science in Speech Language Pathology. While at Southern Connecticut State University, she was a research assistant for Haskins Laboratory at Yale University, and she served as a liaison for the National Student Speech Language Hearing Association (NSSLHA).  She is also an active member of the Connecticut Speech Language and Hearing Association (CSHA) and serves as a mentor to aspiring Speech Language Pathologists at both her alumni university and for the National Association (ASHA).
                  </p>

                  <p>
                    Briana now resides in the North End of Boston and is embracing all that the engaging city of Boston has to offer! She is a certified member of the American Speech Language and Hearing Association (ASHA) and also an active member of the Massachusetts Speech Language and Hearing Association (MSHA).
                  </p>

                  <p>
                    Briana can be reached via our main phone at 617-969-TALK (8255) or via email at briana@teamchatterboxes.com.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Erika See, M.S., CCC-SLP,</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                   Erika’s positive demeanor and encouraging personality provide a fun atmosphere that keeps children engaged during their speech language therapy sessions with her. Erika works alongside parents’ values and concerns, to provide the most beneficial therapy program for each individual child that she sees. Erika strives to continually use the most updated strategies and techniques to deliver the most effective speech and language therapy.
                  </p>

                  <p>
                    Erika has previous experience working with geriatrics at Heartland Healthcare, a skilled nursing facility and with pediatrics at Beth Ingram Therapy Services and Children’s Choice for Therapy. Erika has provided speech and language services to children ranging in age from 18 months to 18 years old in the school setting, as well as in an outpatient clinic. She has worked with a variety of diagnoses including: Autism Spectrum Disorder, Childhood Apraxia of Speech, Expressive and Receptive Language Disorders, Developmental Delays, Articulation and Phonological Disorders, Language Learning Disability, Pragmatic Disorders and Feeding Disorders.Erika has had the opportunity to work alongside and co-treat with physical and occupational therapists within the clinical setting. Erika collaborates with teachers, parents, and other professionals to ensure continuity of care and to encourage growth across communicative environments.
                  </p>

                  <p>
                    Erika received her Bachelor’s degree in Communication Sciences and Disorders at the University of Florida.  She recently received her Master’s Degree in Speech Language Pathology at the University of South Florida.  She is a certified member of the American Speech-Language Hearing Association (ASHA). Her professional interests include Language Learning Disabilities, Autism Spectrum Disorder, Feeding disorders, and Aphasia.
                  </p>

                  <p>
                    Erika currently lives in Providence, Rhode Island. In her spare time, she enjoys outdoor activities, yoga, and cooking! She loves traveling and going back to sunny Florida to visit her family.
                  </p>

                  <p>
                    Erika can be reached via our main phone at 617-969-TALK (8255) or via email at erika@teamchatterboxes.com.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

			<section class="section section-office">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<div class="section-head">
							<h2>tour our offices</h2>

							<p>
								Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
							</p>
						</div><!-- /.section-head -->

						<div class="section-body">
							<div class="slider-office">
								<div class="slider-clip">
									<ul class="slides">
										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office5.jpg" height="555" width="867" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office4.jpg" height="555" width="867" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
 												<img src="css/images/temp/high_res_office1.jpg" height="555" width="361" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office3.jpg" height="555" width="361" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->
									</ul><!-- /.slides -->
								</div><!-- /.slider-clip -->

								<div class="slider-paging">
									<ul>
										<li>
				            	<a href="#">1</a>
				            </li>

				            <li class="current">
				            	<a href="#">2</a>
				            </li>

				            <li class="current">
				            	<a href="#">3</a>
				            </li>

				            <li class="current">
				            	<a href="#">4</a>
				            </li>

				            <li class="current">
				            	<a href="#">5</a>
				            </li>
									</ul>
								</div><!-- /.slider-paging -->

								<div class="slider-images">
									<img src="css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

									<img src="css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
								</div><!-- /.slider-images -->
							</div><!-- /.slider-office -->
						</div><!-- /.section-body -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-office -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

			<img src="css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
