	<div class="intro header-intro-services">
		<div class="header-image">
			<img src="css/images/temp/intro-about-2.jpg" alt="" />
		</div><!-- /.intro-image -->

		<div class="intro-content">
			<div class="row">
				<h1>About Us</h1>
			</div><!-- /.row -->
		</div><!-- /.intro-content -->
	</div><!-- /.intro -->

	<div class="container">
		<div class="container-body">
			<section class="section section-team">
				<div class="row">
					<div class="medium-6 medium-offset-3 large-6 large-offset-3 columns">
						<header class="section-head">
							<h2>Meet our team</h2>

							<p>
								At Chatterboxes, we know your child's tiny heart is the center of your world, and for that reason our compassionate therapists aim for big results.
							</p>
						</header><!-- /.section-head -->
					</div>

					<div class="medium-12 large-12 columns">

						<div class="section-body">
							<div class="slider-team" data-slide-position='1'>
								<div class="slider-clip">
									<ul class="slides">

										<li class="slide current">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/megan_bio.png" height="390" width="257" alt="Megan Rozantes - Speech Pathologist" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Megan</span>

												<p>Speech-Language Pathologist, Director</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/alexandra_bio.jpg" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Alexandra</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/katie_bio.jpg" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Katie</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/rebekah_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Rebekah</span>

                        <p>Occupational Therapist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

										<li class="slide staff-hidden">
											<div class="slide-image staff-bio">
												<img src="css/images/temp/caroline_bio.jpg" alt="" width="281" height="259" />
											</div><!-- /.slide-image -->

											<div class="slide-content">
												<span>Caroline</span>

												<p>Speech-Language Pathologist</p>
											</div><!-- /.slide-content -->
										</li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/abby_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Abby</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/annemarie_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Annemarie</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->


                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/anya_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Anya</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/christine_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Christine</span>

                        <p>Occupational Therapist, Registered, Licensed</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

                    <li class="slide staff-hidden">
                      <div class="slide-image staff-bio">
                        <img src="css/images/temp/kate_d_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                      <div class="slide-content">
                        <span>Kate</span>

                        <p>Speech-Language Pathologist</p>
                      </div><!-- /.slide-content -->
                    </li><!-- /.slide -->

									</ul><!-- /.slides -->
								</div><!-- /.slider-clip -->

								<div class="slider-actions">
									<a href="#" class="slider-prev"></a>
									<a href="#" class="slider-next"></a>
								</div><!-- /.slider-actions -->
							</div><!-- /.slider-team -->

							<ul class="small-block-grid-2 medium-block-grid-3 mobile-staff text-center">

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
										<a href="/about/megan"><img src="css/images/temp/megan_bio.png" alt="Megan Rozantes - Speech Pathologist" /></a>
									</div>

									<div class="staff-info">
										<a href="/about/megan">Megan</a>

										<p>Speech-Language Pathologist, Director</p>
									</div><!-- /.staff-info -->
								</li><!-- /.small-12 -->


								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
										<a href="/about/alexandra"><img src="css/images/temp/alexandra_bio.jpg" alt="" /></a>
									</div>

									<div class="staff-info">
										<a href="/about/alexandra">Alexandra</a>

										<p>Speech-Language Pathologist</p>
									</div><!-- /.slide-info -->
								</li><!-- /.small-12 -->

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
										<a href="/about/katie"><img src="css/images/temp/katie_bio.jpg" alt="" /></a>
									</div>

									<div class="staff-info">
										<a href="/about/katie">Katie</a>

										<p>Speech-Language Pathologist</p>
									</div><!-- /.slide-info -->
								</li><!-- /.small-12 -->

                <li class="mobile-staff-member">
                  <div class="mobile-staff-image">
                    <a href="/about/rebekah"><img src="css/images/temp/rebekah_bio.jpg" alt="" /></a>
                  </div>

                  <div class="staff-info">
                    <a href="/about/rebekah">Rebekah</a>

                    <p>Occupational Therapist</p>
                  </div><!-- /.slide-info -->
                </li><!-- /.small-12 -->

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
										<a href="/about/caroline"><img src="css/images/temp/caroline_bio.jpg" alt="" /></a>
									</div>

									<div class="staff-info">
										<a href="/about/caroline">Caroline</a>
										<p>Speech-Language Pathologist</p>
									</div><!-- /.slide-info -->
								</li><!-- /.small-12 -->

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
                  	<a href="/about/abby"><img src="css/images/temp/abby_bio.jpg" alt="" /></a>
                  </div>

                  <div class="slide-info">
                    <a href="/about/abby">Abby</a>

                    <p>Speech-Language Pathologist</p>
                  </div><!-- /.slide-info -->
                </li><!-- /.small-12 -->

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
	                	<a href="/about/annemarie"><img src="css/images/temp/annemarie_bio.jpg" alt="" /></a>
	                </div><!-- /.mobile-staff-image -->

	                <div class="slide-info">
	                  <a href="/about/annemarie">Annemarie</a>

	                  <p>Speech-Language Pathologist</p>
	                </div><!-- /.slide-info -->
								</li>

								<li class="mobile-staff-member">
									<div class="mobile-staff-image">
                  	<a href="/about/anya"><img src="css/images/temp/anya_bio.jpg" alt="" /></a>
                  </div>

                  <div class="slide-info">
                    <a href="/about/anya">Anya</a>

                    <p>Speech-Language Pathologist</p>
                  </div><!-- /.slide-info -->
                </li><!-- /.small-12 -->

                <li class="mobile-staff-member">
									<div class="mobile-staff-image">
                  	<a href="/about/christine"><img src="css/images/temp/christine_bio.jpg" alt="" /></a>
                  </div>

                  <div class="slide-info">
                    <a href="/about/christine">Christine</a>

                    <p>Occupational Therapist, Registered, Licensed</p>
                  </div><!-- /.slide-info -->
                </li><!-- /.small-12 -->

                <li class="mobile-staff-member">
                  <div class="mobile-staff-image">
                    <a href="/about/kate"><img src="css/images/temp/kate_d_bio.jpg" alt="" /></a>
                  </div>

                  <div class="slide-info">
                    <a href="/about/kate">Kate</a>

                    <p>Speech-Language Pathologist</p>
                  </div><!-- /.slide-info -->
                </li><!-- /.small-12 -->
							</ul><!-- /.block-grid -->

						</div><!-- /.section-body -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-team -->

			<div class='bio-paragraphs'>
				<section class="section section-current">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4><a href="/about/megan">Megan Rozantes, M.S., CCC-SLP</a></h4>

									<span>Speech-Language Pathologist, Director</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/megan.rozantes.5" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://twitter.com/ChatterboxesSLP" class="link-twitter" target="_blank">twitter</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=194329185&trk=nav_responsive_tab_profile_pic" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Megan's passion for helping others coupled with her enthusiasm for working with young children as a Speech-Language
										Pathologist serves as the cornerstone of Chatterboxes' core values and standards. Megan's positive personality and steadfast desire to transform the provision of speech-language services into a delightful experience for children and their parents led her to found Chatterboxes to be the best-in-class pediatric practice that it is today.
									</p>

									<p>
										Megan is always available to past, current or future patients as well as any other parents who may be seeking advice or guidance regarding their children's communicative skills and/or speech and language development.
									</p>

									<p>
										Megan can be reached via our main phone at <span>617-969-TALK (8255)</span> or via email at <a href="mailto:megan@teamchatterboxes.com">megan@teamchatterboxes.com.</a>
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4><a href="/about/alexandra">Alexandra DeRosa M.S., CCC-SLP</a></h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/in/alexandra-derosa-5b092189?authType=NAME_SEARCH&authToken=dtpo&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A315811860%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1458224449194%2Ctas%3Aalexandra%20derosa" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Alexandra's flexible, creative and passionate personality creates an engaging therapy environment for children and their families. Her previous work with clients in their home environments via Early Intervention has helped her develop active listening, empathy and experience identifying shared goals. This results in progress, ongoing involvement and eventual positive therapy outcomes. Alexandra is an advocate of the co-treatment therapy model and working with other professionals and disciplines involved in each child's ecosystem.
									</p>

									<p>
										Alexandra holds a Master of Science in Speech-Language Pathology from Worcester State University where she was elected President of the National Student Speech-Language Hearing Association (NSSLHA) chapter of WSU.
									</p>

									<p>
										Alexandra's professional experience includes a Speech-Language Pathologist position with Family Services of Rhode Island, where she led a community-based "Mother Goose" and center-based speech and occupational therapy group with Family Service of Rhode Island. Additional previous experience includes The Wolf School of Providence, RI, a private school dedicated to complex learners.
									</p>

									<p>
										Alexandra has had the opportunity to work with children ranging in age from 3-20 years old diagnosed with pragmatic language disorder, expressive/receptive language delay, fluency disorder, autism spectrum disorders, articulation and feeding disorders. She is specialized in conducting assessments and evaluations, and provides parent education and coaching for families and caregivers
									</p>

									<p>
										Alexandra is based out of our Lexington location at 35 Bedford Street, Unit 6, Lexington MA 02420 and is available to her current and prospective clients at <a href="mailto:alexandra@teamchatterboxes.com">alexandra@teamchatterboxes.com</a>.
									</p>

								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4><a href="/about/katie">Katie Lichenstein, CCC-SLP</a></h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/company/chatterboxes-pediatric-speech-language-pathology/about/" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Katie’s passion to help others, as well as her enthusiastic and warm personality, create a positive energy that helps clients work towards achieving their full potential.
									</p>

									<p>
										Katie has evaluated and provided speech and language services to children in the public school setting, as well as to adults in acute care hospitals and outpatient clinics. She has worked with a variety of diagnoses including: autism spectrum disorder, childhood apraxia of speech, expressive/receptive language disorders, developmental delays, fluency disorders, articulation and phonological disorders, pragmatic disorders, neurological disorders and swallowing disorders. Katie is LSVT LOUD certified and enjoys staying up-to-date on innovative treatment strategies.
									</p>

									<p>
										One of Katie's strengths is her ability to collaborate with occupational and physical therapists, and work alongside parents, teachers and other professionals to maximize a child's potential across disciplines.
									</p>

									<p>
										Katie earned her Bachelor of Science in Communication Disorders from The University of Massachusetts Amherst and her Master of Science in Speech Language Pathology from Molloy College in Rockville Centre, New York. During her time in graduate school, Katie participated in a mission trip to Kingston, Jamaica where she and a team of medical professionals conducted speech, language and hearing screenings, as well as provided resources and education to members of the under-served community. Katie received her Certificate of Clinical Competence from the American Speech Language Hearing Association (ASHA) and is licensed to practice speech-language pathology within the Commonwealth of Massachusetts.
									</p>

									<p>
										Katie currently lives in Boston. She enjoys the ocean, spending time with her puppy, friends and family, traveling, cooking, playing basketball and watching Boston sports.
									</p>

									<p>
										Katie can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:katie@teamchatterboxes.com">katie@teamchatterboxes.com</a>.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/rebekah">Rebekah Whitener, OTR/L</a></h4>

                  <span>Occupational Therapist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/chatterboxes-pediatric-speech-language-pathology/about/" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Occupational therapy is all about living life the fullest, whatever life looks like for you! For Rebekah, this means helping kids, young and old, to accomplish the little things in their everyday life and the big dreams yet to come. Whether it’s helping someone learn to tie his shoes all by himself or assisting someone to learn to feed herself, occupational therapy can benefit everyone!
                  </p>

                  <p>
                    Rebekah’s fun personality and sweet disposition are key factors to her success in working with families and their littlest members to reach those goals. Her experience ranges from working with young children in a feeding and sensory based clinic as well as working in a more acute setting at a local hospital. As an occupational therapist, she specializes in pediatric feeding therapy, fine motor and gross motor development, activities of daily living, attention and behaviors and sensory processing. Her love for working in pediatrics started in high school when she was looking for somewhere to volunteer and stumbled upon a hippotherapy clinic (an occupational therapy clinic that uses horses to assist in carrying out goals). “As soon as I saw the huge smiles on the kids’ faces as they rode their horses, I knew that working with kids to make those smiles happen is something I wanted to do for the rest of my life.”
                  </p>

                  <p>
                    While she’s not saving the world as an occupational therapist, she enjoys hiking with her husband, exploring East Coast beaches, paddle boarding on the Charles, and training for 10Ks and half-marathons. She currently lives in Somerville with her husband.
                  </p>

                  <p>
                    Rebekah can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:rebekah@teamchatterboxes.com">rebekah@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

				<section class="section section-hidden">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="section-body">
								<div class="section-inner">
									<h4><a href="/about/caroline">Caroline Curran, M.S., CCC-SLP</a></h4>

									<span>Speech-Language Pathologist</span>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/company/chatterboxes-pediatric-speech-language-pathology/" class="link-linkedin" target="_blank">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->

									<p>
										Caroline's warm, engaging personality creates a natural, positive, and fun therapeutic environment. Her passion for working with young children and their families is palpable; she is happiest and most fulfilled when helping children reach their goals. Caroline also emphasizes the importance of communication. She believes that regular contact between therapists, parents, teachers, and specialists facilitates the most growth and ensures carryover of skills across all environments.
									</p>

									<p>
										Caroline's previous experience with the pediatric population includes work in a therapeutic preschool setting, public school setting, and private practice. She has experience evaluating and treating children with a variety of communication disorders, including autism spectrum disorders, receptive/ expressive language delays, articulation/ phonology disorders, social-pragmatic language disorders, and feeding disorders.
									</p>

									<p>
										Caroline earned her Bachelor of Arts in Communication Disorders from Loyola University Maryland and her Master of Science in Speech-Language Pathology from Towson University in Baltimore, Maryland.
									</p>

									<p>
										Caroline currently resides in Boston, and enjoys running, reading, cooking, and spending time with her family.
									</p>

									<p>
										Caroline can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:caroline@teamchatterboxes.com">caroline@teamchatterboxes.com</a>.
									</p>
								</div><!-- /.section-inner -->
							</div><!-- /.section-body -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/abby">Abby Ziegler, M.A., CCC-SLP</a></h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/in/abby-ziegler-9a3a17108/" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Abby’s positive demeanor and fun spirit encourage creative therapy sessions that engage children of all ages.  She is passionate about collaborating with families and other providers in order to implement functional treatment, which she believes is a critical component to achieving therapy goals during and outside of sessions.
                  </p>

                  <p>
                    Abby received her Bachelor of Applied Arts (B.A.A.) in communication disorders and Spanish and her Masters of Arts (M.A.) in Speech Language Pathology, both from Central Michigan University.  She is a certified member of the American Speech-Language Hearing Association (ASHA).
                  </p>

                  <p>
                   Abby has had the opportunity to evaluate and treat feeding and swallowing disorders, as well as speech, fluency, voice, pragmatic and language disorders in a children’s hospital and private practice setting.  Through these experiences, Abby has collaborated with a wide variety of disciplines.  She has been involved with medically complex cases that have challenged her expertise and knowledge in the area, which is one of the reasons why she loves this profession.
                  </p>

                  <p>
                    Abby can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:abby@teamchatterboxes.com">abby@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/annemarie">Annemarie Hall, M.S., CCC-SLP</a></h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                   Annemarie's energetic and engaging personality creates a positive and enjoyable therapy environment for the children she works with. She consistently utilizes creativity and problem-solving strategies to ensure each therapy session meets the communicative needs of the child. Annemarie believes that parent and caregiver collaboration is integral to achieving speech-language success.
                  </p>

                  <p>
                    Annemarie's professional experience includes a Speech-Language Pathologist position with a national non-profit organization where she conducts evaluations and facilitates treatment in a variety of educational programs throughout the Greater Boston area. She has had the opportunity to work with students ranging in age from 3-20 years old diagnosed with autism spectrum disorder, pragmatic language disorder, expressive/receptive language delay, fluency disorder, psychological disorders, emotional impairment, and specific language impairment.
                  </p>

                  <p>
                    Annemarie attended an accelerated program at Duquesne University in Pittsburgh, Pennsylvania where she earned a Master of Science in Speech-Language Pathology following a Bachelor of Science in Health Sciences. While completing her graduate program, she served as a child language research assistant and as a teacher's assistant for the Augmentative and Alternative Communications Lab. She was selected to receive Student Honors of the Association from the Southwestern Pennsylvania Speech-Language-Hearing Association due to her "enthusiasm and dedication" to the field of speech-language pathology. Annemarie also received honors for the completion of an optional master's thesis project entitled "Semantically Based Therapeutic Approach Through Aided Language Stimulation with a Child with Autism Spectrum Disorder," and was selected to present her project at the American Speech Language Hearing Association Convention in Orlando, Florida.
                  </p>

                  <p>
                    Annemarie currently resides in Brookline. In her spare time she enjoys running, yoga, and spending time outdoors.
                  </p>

                  <p>
                    Annemarie can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:annemarie@teamchatterboxes.com">annemarie@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/anya">Anya Kroytor, M.S., CCC-SLP</a></h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                   Anya’s passion for working with children and families as well as her enthusiastic, high energy, and encouraging personality helps create a positive and effective environment that facilitates success in speech and language development. Anya believes establishing a comfortable and dynamic rapport with the children and families is integral to achieving speech and language goals. Through her implementation of play-based therapy, PROMPT therapy, and co-collaboration, she uses a multimodal approach to help clients reach their goals.
                  </p>

                  <p>
                    Anya evaluates and treats children ranging from 13 months to 18 years old with various speech and language issues and a variety of diagnoses including: receptive and expressive language delays, pragmatic disorders, articulation disorders, phonological disorders, developmental delays, Autism, feeding disorders, childhood apraxia of speech, and fluency disorders. She has experience in a variety of settings including private practice, home health, and schools.
                  </p>

                  <p>
                    Anya received her Bachelor’s degree in Psychology at the University of Central Florida. She received her Master’s degree in Speech-Language Pathology at the University of Central Florida. She is a certified member of the American Speech-Language Hearing Association (ASHA). Her professional interests include Autism Spectrum Disorder, anxiety disorders, mixed Receptive/ Expressive Language Delay, and Childhood Apraxia of Speech.
                  </p>

                  <p>
                    Anya currently lives in Brookline. Anya speaks Russian and Spanish and enjoys learning new languages. Her hobbies include improv comedy, boxing, traveling, and cooking.
                  </p>

                  <p>
                    Anya can be reached via our main phone at <a href="tel:6179698255">617-969-TALK (8255)</a> or via email at <a href="anya@teamchatterboxes.com">anya@teamchatterboxes.com.</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/christine">Christine Maley, OTR/L</a></h4>

                  <span>Occupational Therapist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                   Christine is a firm believer that we should all be living life to the fullest! In order to achieve that, she believes in creating a fun, comfortable and accepting environment where a child’s confidence can shine through. Her energetic therapy sessions are play-based to encourage silliness and confidence through motor and sensory play.
                  </p>

                  <p>
                   Christine graduated from Elizabethtown College in Elizabethtown, PA with a Bachelor’s degree in Health and Occupation, and a Master’s degree in Occupational Therapy. Christine has experience working with children from birth to 18 years old in both home and clinic settings. Christine began her career in early intervention where she learned the importance of collaboration between families and clinicians. She also learned the importance of making sessions fun, and playful to help a child fully engage with their environment. In addition, Christine has experience working in a pediatric outpatient setting, where she learned more about the use of swings and other sensory tools in therapy sessions.
                  </p>

                  <p>
                    Christine has worked with children with a variety of diagnoses, such as ASD, Downs Syndrome, ADD/ADHD, genetic conditions, neurological disorders and developmental delays. Christine believes that successful therapy starts with a strong foundation of motor and cognitive skills and a heavy focus on sensory processing. She addresses concerns for fine motor, gross motor, sensory processing, attention, executive functioning and feeding skills. Christine has completed continued education courses in the SOS Approach to Feeding; Infant Massage and Treatment of Pediatric Neurodevelopmental Disorders. Her goal is to help your child to become successful, confident and independent in all life skills!
                  </p>

                  <p>
                    Christine currently resides in Malden, MA. Her hobbies include playing ultimate frisbee, crocheting, traveling and spending time with her dog, Bailey.
                  </p>

                  <p>
                    Christine can be reached via our main phone at <a href="tel:6179698255">617-969-TALK (8255)</a> or via email at <a href="christine@teamchatterboxes.com">christine@teamchatterboxes.com.</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->

        <section class="section section-hidden">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/kate">Kate Donnelly, M.S., CCC-SLP</a></h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/in/kate-donnelly-m-s-ccc-slp-33292444/" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                   Kate’s energetic personality and enthusiasm create an exciting and engaging therapy environment. She believes that developing close relationships with clients and families is an important aspect of successful speech/language therapy. Kate loves collaborating with other professionals to expand her practice.
                  </p>

                  <p>
                   Kate’s has professional experience in public schools. She has evaluated and treated children ranging from 3 to 16 years old and has worked with students diagnosed with articulation/phonological disorders, pragmatic language disorder, expressive/receptive language delay, emotional impairment,  Autism Spectrum Disorder, and Down Syndrome, among others.
                  </p>

                  <p>
                    Kate graduated from the University of Connecticut with a Bachelor of Arts degree in Speech, Language, and Hearing Sciences. She received a Master of Science degree in Speech-Language Pathology from Adelphi University in 2015. Kate is a certified member of the American Language Hearing Association (ASHA) and is trained in Picture Exchange Communication System (PECS).
                  </p>

                  <p>
                    Kate is recently engaged, and moved to Boston from Connecticut and enjoys exploring her new city as well as watching movies, sports, and traveling.
                  </p>

                  <p>
                    Kate can be reached via our main phone at <a href="tel:6179698255">617-969-TALK (8255)</a> or via email at <a href="kate@teamchatterboxes.com">kate@teamchatterboxes.com.</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
			</div><!-- /.bio-paragraphs -->

			<section class="section section-office">
				<div class="row">
					<div class="medium-12 large-8 large-offset-2 columns">
						<div class="section-head">
							<h2>tour our offices</h2>

							<p>
								Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
							</p>
						</div><!-- /.section-head -->

						<div class="section-body">
							<div class="slider-office">
								<div class="slider-clip">
									<ul class="slides">
										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office9.jpg" height="555" width="867" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office8.jpg" height="555" width="867" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
 												<img src="css/images/temp/high_res_office7.jpg" height="555" width="361" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->

										<li class="slide">
											<div class="slide-image">
												<img src="css/images/temp/high_res_office6.jpg" height="555" width="361" alt="" />
											</div><!-- /.slide-image -->
										</li><!-- /.slide -->
									</ul><!-- /.slides -->
								</div><!-- /.slider-clip -->

								<div class="slider-paging">
									<ul>
										<li>
				            	<a href="#">1</a>
				            </li>

				            <li class="current">
				            	<a href="#">2</a>
				            </li>

				            <li class="current">
				            	<a href="#">3</a>
				            </li>

				            <li class="current">
				            	<a href="#">4</a>
				            </li>

				            <li class="current">
				            	<a href="#">5</a>
				            </li>
									</ul>
								</div><!-- /.slider-paging -->

								<div class="slider-images">
									<img src="css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

									<img src="css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
								</div><!-- /.slider-images -->
							</div><!-- /.slider-office -->
						</div><!-- /.section-body -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-office -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

			<img src="css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
