<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Chatterboxes - Boston, MA Speech Pathology and Therapy</title>
  <link rel="shortcut icon" href="css/images/favicon.ico" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/jquery.fullscreener.min.js"></script>
  <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
  <script src="js/functions.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="row">
      <div class="medium-12 large-12 columns">
        <div class="header-inner">
          <div class="header-left">
            <div class="header-contacts">
              <span>
                <i class="ico ico-phone"></i>
            
                617-969-8255
              </span>
            </div><!-- /.header-contacts -->
            
            <!-- <div class="search">
                <form action="" method="get">
                    <label for="q" class="hidden">Search</label>
            
                    <input type="text" name="q" id="q" value="" class="search-field" placeholder="Search Here" />
            
                    <input type="submit" value="GO" class="search-btn" />
                </form>
            </div><!-- /.search -->
          </div><!-- /.header-left -->

          <a href="/" class="logo">ChatterBoxes</a>

          <div class="header-right">
            <div class="socials">
              <ul>
                <li>
                  <a href="https://www.facebook.com/TeamChatterboxes" target="_blank" class="link-facebook">facebook</a>
                </li>
                
                <li>
                  <a href="https://twitter.com/ChatterboxesSLP" target="_blank" class="link-twitter">twitter</a>
                </li>
                
                <li>
                  <a href="http://www.pinterest.com/chatterboxes/" target="_blank" class="link-pinterest">pinterest</a>
                </li>
                
                <li>
                  <a href="http://chatterboxesblog.blogspot.com/ " target="_blank" class="link-bing">bing</a>
                </li>
              </ul>
            </div><!-- /.socials -->

            <div class="header-actions">
              <span class="girl"></span>
            
              <a href="#" class="btn btn-help">Help</a>
            
              <!-- <a href="#" class="btn btn-sitemap">Sitemap</a> -->
            
              <a href="#" class="btn-chat"></a>
            </div><!-- /.header-actions -->
          </div><!-- /.header-right -->
        </div><!-- /.header-inner -->
      </div><!-- /.medium-12 large-12 columns -->
    </div><!-- /.row -->

    <nav class="nav">
      <div class="row">
        <div class="medium-12 large-12 columns">
          
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            
            <li>
              <a href="/about">About us</a>
            </li>
            
            <li>
              <a href="/started">Getting Started</a>
            </li>
          </ul>
          
          <ul>
            <li>
              <a href="services">Services</a>
            </li>
            
<!--             <li>
              <a href="#">FAQ’s</a>
            </li>
            
            <li>
              <a href="#">Resources</a>
            </li>
             -->
            <li>
              <a href="/contact">Contact us</a>
            </li>
          </ul>
        </div><!-- /.medium-12 large-12 columns -->
      </div><!-- /.row -->
    </nav><!-- /.nav -->
  </header><!-- /.header -->

  <%= yield %>
  
  <footer class="footer">
    <div class="row">
      <div class="medium-5 medium-offset-1 large-5 large-offset-1 columns">
        <h3>connect with us</h3>

        <p>We’re Social. Follow us for the most up to date speech, language and feeding intervention and strategies  </p>

        <div class="socials">
          <ul>
            <li>
              <a href="https://www.facebook.com/TeamChatterboxes" target="_blank" class="link-facebook">facebook</a>
            </li>
            
            <li>
              <a href="https://twitter.com/ChatterboxesSLP" target="_blank" class="link-twitter">twitter</a>
            </li>
            
            <li>
              <a href="http://www.pinterest.com/chatterboxes/" target="_blank" class="link-pinterest">pinterest</a>
            </li>
            
            <li>
              <a href="http://chatterboxesblog.blogspot.com/ " target="_blank" class="link-bing">bing</a>
            </li>
          </ul>
        </div><!-- /.socials -->
      </div><!-- /.medium-5 medium-offset-1 large-5 large-offset-1 columns -->
      
      <div class="medium-6 large-6 columns">
        <h3>subscribe to our newsletter</h3>

        <p>Be the first to know. Sign up to stay informed. </p>

        <div class="subscribe">
            <form action="" method="post">
                <label for="mail" class="hidden">Email</label>

                <input type="text" placeholder="Enter email" class="subscribe-field" id="mail" />

                <input type="submit" value="Subscribe" class="subscribe-btn" />
            </form>
        </div><!-- /.subscribe -->
      </div><!-- /.medium-6 large-6 columns -->
    </div><!-- /.row -->

    <div class="row">
      <div class="medium-12 large-12 columns">
        <p class="copyright">&copy;2008 Chatterboxes, LLC, All rights reserved.</p><!-- /.copyright -->
      </div><!-- /.medium-12 large-12 columns -->
    </div><!-- /.row -->

    <div class="footer-background">
      <img src="css/images/footer.png" height="260" width="1600" alt="" />
    </div><!-- /.footer-background -->
  </footer><!-- /.footer -->
</div><!-- /.wrapper -->
</body>
</html>
