	<div class="map">
		<div id="map-canvas"></div>
	</div><!-- /.map -->

	<div class="container">
		<div class="container-body">
			<section class="section section-contacts">
				<div class="section-head">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<h2>Contact Us</h2>
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</div><!-- /.section-head -->

				<div class="section-body">
					<div class="row">
						<div class="medium-6 large-6 columns">
							<div class="contacts">
								<span>
									<i class="ico ico-location"></i>

									Newton Centre
								</span>

								<p>
									10 Langley Road <br />
									Suite 305 (3rd floor via elevator) <br />
									Newton, MA 02459
								</p>
							</div><!-- /.contacts -->
							<div class="contacts">
								<span>
									<i class="ico ico-location"></i>

									Lexington
								</span>
								<p>
									Lexington Center
								</p>
							</div>

							<div class="contacts">
								<span>
									<i class="ico ico-tel"></i>

									617-969-TALK (8255)
								</span>
							</div><!-- /.contacts -->
						</div><!-- /.medium-6 large-6 columns -->

						<div class="medium-6 large-6 columns">
							<div class="contacts contacts-alt">
								<div class="contacts-avatar">
									<img src="css/images/temp/brittany_bio.png" height="284" width="176" alt="" />
								</div><!-- /.contacts-avatar -->

								<div class="contacts-content">
									<h4>New Patient Coordinator</h4>

									<p>Brittany Doyle, M.S., CCC-SLP</p>

									<a href="mailto:brittany@teamchatterboxes.com" target='_blank'>
										<i class="ico ico-mail"></i>

										brittany@teamchatterboxes.com
									</a>

									<div class="socials">
										<ul>
											<li>
												<a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" class="link-facebook">facebook</a>
											</li>

											<li>
												<a href="http://chatterboxesblog.blogspot.com/" class="link-rss">rss</a>
											</li>

											<li>
												<a href="https://www.linkedin.com/profile/view?id=299100497&authType=NAME_SEARCH&authToken=rT-r&locale=en_US&trk=tyah2&trkInfo=tarId%3A1411586032158%2Ctas%3ABritt%2Cidx%3A1-1-1" class="link-linkedin" class="link-linkedin">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->
								</div><!-- /.contacts-content -->
							</div><!-- /.contacts contacts-alt -->
						</div><!-- /.medium-6 large-6 columns -->
					</div><!-- /.row -->

					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="form-message">
								<form action="/contact" method="post">
									<header class="form-head">
										<h3 id='contact-form-header'>Send Us a Message </h3>
									</header><!-- /.form-head -->

									<div class="form-body">
										<div class="row">
											<div class="medium-6 large-6 columns">
												<div class="form-row">
													<div class="form-controls">
														<input type="text" class="field" id="name" placeholder="Name" name="name" required/>
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->

												<div class="form-row">
													<div class="form-controls">
														<textarea name="message" id="message" placeholder="Message" cols="30" rows="10" class="textarea" required></textarea>
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.medium-6 large-6 columns -->

											<div class="medium-6 large-6 columns">
												<div class="form-row">
													<div class="form-controls">
														<input type="email" class="field" id="mail3" placeholder="Email" name="email" required/>
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->

												<div class="form-row">
													<div class="form-controls">
														<input type="tel" class="field" id="mobile" placeholder="Phone" name="phone" required/>
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->

												<div class="form-actions">
													<input type="submit" value="Submit" class="form-btn" />
												</div><!-- /.form-actions -->
											</div><!-- /.medium-6 large-6 columns -->
										</div><!-- /.row -->
									</div><!-- /.form-body -->
								</form>
							</div><!-- /.form-message -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</div><!-- /.section-body -->
			</section><!-- /.section section-contacts -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

			<img src="css/images/image-birds-big.png" class="birds-large birds-large-alt" alt="" width="132" height="123" />

			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
	<style type="text/css">
	html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
	</style>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_API_KEY}">
	</script>
	<script type="text/javascript">
		var points = [
			['Newton Center', 42.331253, -71.193983, 'https://www.google.com/maps/place/10+Langley+Rd,+Newton+Centre,+MA+02459/@42.3312415,-71.193881,17z/data=!3m1!4b1!4m2!3m1!1s0x89e38278ef2ff84b:0x83244687a75888be'],
			['Lexington Center', 42.448908, -71.228836, 'https://www.google.com/maps/place/Lexington+Center/@42.448586,-71.228688,17z/data=!3m1!4b1!4m2!3m1!1s0x89e39dd01290a417:0x827d57cb325cd9bc']
		];

	function setMarkers(map, locations) {
		var shape = {
			coord: [1, 1, 1, 20, 18, 20, 18 , 1],
			type: 'poly'
		};
		for (var i = 0; i < locations.length; i++) {
			var point = locations[i];
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(point[1], point[2]),
				map: map,
				shape:shape,
				title: point[0],
				url: point[3]
			});
			google.maps.event.addListener(marker, 'click', function() {
				window.location.href = this.url;
			});
		}
	}
	function initialize() {
		var mapOptions = {
			center: { lat: 42.448908, lng: -71.228836 },
			zoom: 11,
			draggable: false,
			scrollwheel: false
		}
		var map = new google.maps.Map(document.getElementById('map-canvas'),
		mapOptions);

		setMarkers(map, points);

		// var marker = new google.maps.Marker({
		// 	position: { lat: 42.331253, lng: -71.193983 },
		// 	map: map,
		// 	title:"Hello World!"
		// });
		// var marker = new google.maps.Marker({
		// 	position: { lat: 42.448908, lng: -71.228836 },
		// 	map: map,
		// 	title:"Hello World!"
		// });
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>


	<!-- Newton: 42.331253, -71.193983 -->

	<!-- Center: 42.389631, -71.215269 -->

	<!-- Lexington: 42.448908, -71.228836 -->
