	<div class="map">
		<img src="css/images/temp/map-image.jpg" height="526" width="1600" alt="" />
	</div><!-- /.map -->

	<div class="container">
		<div class="container-body">
			<section class="section section-contacts">
				<div class="section-head">
					<div class="row">
						<div class="medium-12 large-12 columns">
							<h2>Contact Us</h2>
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</div><!-- /.section-head -->

				<div class="section-body">
					<div class="row">
						<div class="medium-6 large-6 columns">
							<div class="contacts">
								<span>
									<i class="ico ico-location"></i>
					
									Newton Centre
								</span>
					
								<p>10 Langley Road <br />
					Suite 305 (3rd floor via elevator) <br />
					Newton, MA 02459</p>
							</div><!-- /.contacts -->
					
							<div class="contacts">
								<span>
									<i class="ico ico-tel"></i>
					
									617-969-TALK (8255)
								</span>
							</div><!-- /.contacts -->
						</div><!-- /.medium-6 large-6 columns -->
						
						<div class="medium-6 large-6 columns">
							<div class="contacts contacts-alt">
								<div class="contacts-avatar">
									<img src="css/images/temp/contacts-avaatar.png" height="183" width="183" alt="" />
								</div><!-- /.contacts-avatar -->
					
								<div class="contacts-content">
									<h4>New Patient Coordinator</h4>
									
									<p>Brittany Boyle, M.S., CCC-SLP</p>
					
									<a href="#">
										<i class="ico ico-mail"></i>
					
										brittany@teamchatterboxes.com
									</a>
					
									<div class="socials">
										<ul>
											<li>
												<a href="#" class="link-facebook">facebook</a>
											</li>
											
											<li>
												<a href="#" class="link-rss">rss</a>
											</li>
											
											<li>
												<a href="#" class="link-linkedin">linkedin</a>
											</li>
										</ul>
									</div><!-- /.socials -->
								</div><!-- /.contacts-content -->
							</div><!-- /.contacts contacts-alt -->
						</div><!-- /.medium-6 large-6 columns -->
					</div><!-- /.row -->

					<div class="row">
						<div class="medium-12 large-12 columns">
							<div class="form-message">
								<form action="/contact" method="post">
									<header class="form-head">
										<h3>Send Us a Message</h3>
									</header><!-- /.form-head -->

									<div class="form-body">
										<div class="row">
											<div class="medium-6 large-6 columns">
												<div class="form-row">
													<div class="form-controls">
														<input type="text" class="field" id="name" placeholder="Name" name="first_name" />
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
												
												<div class="form-row">
													<div class="form-controls">
														<textarea name="message" id="message" placeholder="Message" cols="30" rows="10" class="textarea"></textarea>
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.medium-6 large-6 columns -->
											
											<div class="medium-6 large-6 columns">
												<div class="form-row">
													<div class="form-controls">
														<input type="text" class="field" id="mail3" placeholder="Email" name="email" />
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
												
												<div class="form-row">
													<div class="form-controls">
														<input type="text" class="field" id="mobile" placeholder="Phone" name="phone" />
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->

												<div class="form-actions">
													<input type="submit" value="Submit" class="form-btn" />
												</div><!-- /.form-actions -->
											</div><!-- /.medium-6 large-6 columns -->
										</div><!-- /.row -->
									</div><!-- /.form-body -->
								</form>
							</div><!-- /.form-message -->
						</div><!-- /.medium-12 large-12 columns -->
					</div><!-- /.row -->
				</div><!-- /.section-body -->
			</section><!-- /.section section-contacts -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />
			
			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />
			
			<img src="css/images/image-birds-big.png" class="birds-large birds-large-alt" alt="" width="132" height="123" />
			
			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
