<h2> Chatterboxes </h2>

<p>
  <span>Hey Brittany!</span> <%= @full_name %> wants to get in touch.
</p>

<p>
  They can be reached at:
  <ul>
    <li>Phone: <%=  @phone %></li>
    <li>Email: <%= @email %> </li>
  </ul>
</p>
