	<div class="home">
		<div class="video hidden">
			<iframe width="1600" height="600" src="//www.youtube.com/embed/TOSezegfMeQ" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>Please upgrade to the latest version of your browser to view this video.</iframe>
		</div><!-- /.video -->

		<div class="cover">
			<!-- <a href="#"> -->
				<img src="css/images/Newton-Office-Home-Page.jpg" alt="Welcome to Chatterboxes!  Specialists in Speech Pathology.  Boston, MA" height='600' style="width: 100%;">
				<div class="homepage-title">
					<div class="homepage-title-center">
						<!-- <img src="css/images/temp/play-icon.png"> -->
						<h1>Welcome to Chatterboxes</h1>
						<h2>Speech-Language & Occupational Therapy</h2>
					</div>
				</div>
			<!-- </a> -->
		</div>

		<section class="section section-schedule">
			<div class="row">
				<div class="medium-12 large-12 columns">
					<div class="form-schedule">
						<form action="/home" method="post">
							<header class="form-head">
								<h3 id='home-form-header'>Schedule a Visit</h3>
							</header><!-- /.form-head -->

							<div class="form-body">
								<div class="form-row">
									<div class="form-controls">
										<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

										<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

										<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

										<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required />
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-body -->

							<div class="form-actions">
								<input type="submit" value="Submit" class="form-btn" />
							</div><!-- /.form-actions -->
						</form>
					</div><!-- /.form-schedule -->
				</div><!-- /.medium-12 large-12 columns -->
			</div><!-- /.row -->
		</section><!-- /.section section-schedule -->

	<div class="container">
		<div class="container-body">
			<section class="section section-therapy">
				<div class="row">
							<div class="medium-12 large-12 columns">
			<div class="slider-testimonial-small">
				<div class="slider-clip">
					<div class='row'>
						<div class='medium-12 columns text-center'>
							<h2>What Parents Have to Say</h2>
						</div>
					</div>
					<ul class="slides">
						<li class="slide">
							<div class="slide-content">
								<blockquote>
									"Very skilled SLP! Prompt in scheduling services!”- "
								</blockquote>

								<span>Mary Lee Mastroianni</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Promptness. Energy and enthusiasm. Welcoming. Kindness. Flexibility in scheduling. Warmth of offices and waiting area."
								</blockquote>

								<span>Georgina Chu</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"The friendliness of the staff. The professionalism"
								</blockquote>

								<span>Tchintcia Barros</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"The facility and staff are great."
								</blockquote>

								<span>Lindsay Wilson</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"So  happy with the responsiveness and flexibility of both provider and practice!"
								</blockquote>

								<span>Jessica Turco</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->
						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"We are very happy we found Chatterboxes!"
								</blockquote>

								<span>Jessica Lasser</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"I love our therapist. I love the cleanliness of the space. I love that I can bring my other child along to appointments"
								</blockquote>

								<span>Apyrl C</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Clean, fun, atmosphere. Very accommodating and great communication"
								</blockquote>

								<span>KM</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Lovely office, convenient and Erika is wonderful"
								</blockquote>

								<span>Sharlene Wolff</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Nice/clean waiting area, excellent therapist, child enjoyed it more than previous SLP, easy printables for insurance, homework to do with child during week"
								</blockquote>

								<span>Heather Fox D’Alleva</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"The way the therapist interacts with our kid. Very friendly and patient."
								</blockquote>

								<span>Richard Brown</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"SLP was awesome with my son, made him feel comfortable and praised his progress"
								</blockquote>

								<span>Amy Quinn</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Thought/planning into each session. Variety of activities"
								</blockquote>

								<span>Wanda Blanton</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"My child received therapy for a speech issue that is now no longer a problem"
								</blockquote>

								<span>Kelly Davidson</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Hi. I just wanted to let you know that Teddy is talking up a storm now. Your company lives up to its name "Chatterboxes!""
								</blockquote>

								<span>Joanna</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"My Husband said "What’s This? He’s eating Real Food?"
								</blockquote>

								<span>F. Rabanal</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Great 1-on-1 attention. Long appointments. Tailored to my child's needs. Great location. Easy parking. Very personable. Therapist who really cared about my child."
								</blockquote>

								<span>Alexis Deutsch</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Very skilled therapists. Our son looks forward to sessions."
								</blockquote>

								<span>Denise Donovan</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Warm environment, friendly staff."
								</blockquote>

								<span>Elise Leventhal</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Timeliness, child centered, very friendly."
								</blockquote>

								<span>Christina Sakai</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Alex loves his sessions and we have seen great progress. Alex likes and trusts his therapist."
								</blockquote>

								<span>A. Rutherford</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Every phone conversation/e-mail with your staff was pleasant and extremely helpful!"
								</blockquote>

								<span>Renee Burke</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->

						<li class="slide">
							<div class="slide-content">

								<blockquote>
									"Luke eagerly looks forward to his sessions with you, Megan and he's grown leaps and bounds intellectually / verbal-communication-wise the past few months. Thank you!"
								</blockquote>

								<span>Gretchen K.</span>
							</div><!-- /.slide-content -->
						</li><!-- /.slide -->


					</ul><!-- /.slides -->
				</div><!-- /.slider-clip -->
				<div class="slider-actions">
					<a href="#" class="slider-prev"></a>

					<a href="#" class="slider-next"></a>
				</div><!-- /.slider-actions -->
			</div><!-- /.slider-testimonial-small -->
		</div><!-- /.medium-offset-1 large-offset-1 medium-6 large-6 columns -->
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Explore Our Therapy</h2>

							<p>
								Our therapy is available for children experiencing difficulty in any of the following areas:
							</p>
						</header><!-- /.section-head -->

						<div class="section-body">
							<ul class="therapy-items">
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=feeding#feeding">
											<img src="css/images/temp/feeding.jpg" height="191" width="260" alt="Feeding therapy" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=feeding#feeding"><p>Feeding Therapy</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=social-skills#social-skills">
											<img src="css/images/temp/group_therapy.jpg" alt="Group Therapy" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=social-skills#social-skills"><p>Group Therapy</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=articulation#articulation">
											<img src="css/images/temp/articulation.jpg" alt="Articulation" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=articulation#articulation"><p>articulation </p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=pre-literacy#pre-literacy">
											<img src="css/images/temp/pre_literacy.jpg" alt="Pre-literacy" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=pre-literacy#pre-literacy"><p>Pre-Literacy</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=language-disorder#language-disorder">
											<img src="css/images/temp/language_disorder.jpg" alt="Language disorder" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=language-disorder#language-disorder"><p>LANGUAGE DISORDER</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=early-intervention#early-intervention">
											<img src="css/images/temp/early_intervention.jpg" alt="Speech early intervention" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=early-intervention#early-intervention"><p>Early Intervention</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=social-skills#social-skills">
											<img src="css/images/temp/social_skills.jpg" alt="Social skills" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=social-skills#social-skills"><p>Social Skills</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->

								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services?therapy_id=autism#autism">
											<img src="css/images/temp/autism_spectrum.jpg" alt="Autism therapy" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->

									<div class="therapy-content">
										<a href="/services?therapy_id=autism#autism"><p>Autism Spectrum</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
							</ul><!-- /.therapy-items -->
						</div><!-- /.section-body -->

						<div class="section-actions">
							<a href="/services" class="btn btn-more">
								<span>View more</span>

								<i class="ico ico-more"></i>
							</a>
						</div><!-- /.section-actions -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-therapy -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

			<img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />

			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" /><!-- /.row -->
		</div><!-- /.container-images -->
	</div><!-- /.container -->

</div><!-- /.home -->
