	<div class="video hidden">
		<!-- good iframe width for macbook is 1279 px -->
		<iframe src="//player.vimeo.com/video/89270569" width="1600" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
			Please upgrade to the latest version of your browser to view this video.
		</iframe>
	</div><!-- /.video -->

	<div class="video cover">
		<a href="#"><img src="css/images/temp/video.png" alt="Welcome to Chatterboxes!  Specialists in Speech Pathology.  Boston, MA" height='600'></a>
	</div>

	<section class="section section-schedule">
		<div class="row">
			<div class="medium-12 large-12 columns">
				<div class="form-schedule">
					<form action="/home" method="post">
						<header class="form-head">
							<h3 id='home-form-header'>
								Schedule a Visit 
								<% if params[:mail] == 'true' %>
									<p class='flash-notice'>Your message has been sent!</p>
								<% end %>
							</h3>
						</header><!-- /.form-head -->
						
						<div class="form-body">
							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />
								
									<input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />
									
									<input type="email" class="field" placeholder="Email address" name="email" id="mail" required />
									
									<input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required />
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->
	
						<div class="form-actions">
							<input type="submit" value="Submit" class="form-btn" />
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-schedule -->
			</div><!-- /.medium-12 large-12 columns -->
		</div><!-- /.row -->
	</section><!-- /.section section-schedule -->

	<div class="container">
		<div class="container-body">
			<section class="section section-therapy">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Explore Our Therapy</h2>
			
							<p>
								Our therapy is available for children experiencing difficulty in any of the following areas:
							</p>
						</header><!-- /.section-head -->
			
						<div class="section-body">
							<ul class="therapy-items">
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#feeding">
											<img src="css/images/temp/feeding.jpg" height="191" width="260" alt="Feeding therapy" />
										</a>
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#feeding"><p>Feeding Therapy</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#social-skills">
											<img src="css/images/temp/group_therapy.jpg" alt="Group Therapy" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#social-skills"><p>Group Therapy</p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#articulation">
											<img src="css/images/temp/articulation.jpg" alt="Articulation" width="260" height="191" />
										</a>
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#articulation"><p>articulation </p></a>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#pre-literacy">
											<img src="css/images/temp/pre_literacy.jpg" alt="Pre-literacy" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#pre-literacy"><p>Pre-Literacy</p></a>									
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#language-disorder">
											<img src="css/images/temp/language_disorder.jpg" alt="Language disorder" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#language-disorder"><p>LANGUAGE DISORDER</p></a>									
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#early-intervention">
											<img src="css/images/temp/early_intervention.jpg" alt="Speech early intervention" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#early-intervention"><p>Early Intervention</p></a>									
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#social-skills">
											<img src="css/images/temp/social_skills.jpg" alt="Social skills" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#social-skills"><p>Social Skills</p></a>									
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<a href="/services#autism">
											<img src="css/images/temp/autism_spectrum.jpg" alt="Autism therapy" width="260" height="191" />
										</a>									
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<a href="/services#autism"><p>Autism Spectrum</p></a>									
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
							</ul><!-- /.therapy-items -->
						</div><!-- /.section-body -->
			
						<div class="section-actions">
							<a href="/services" class="btn btn-more">
								<span>View more</span>
			
								<i class="ico ico-more"></i>
							</a>
						</div><!-- /.section-actions -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-therapy -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />
			
			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />
			
			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />
			
			<img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />
			
			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" /><!-- /.row -->
		</div><!-- /.container-images -->
	</div><!-- /.container -->

	<section class="section section-testimonials">
		<div class="row">
			<div class="medium-12 large-12 columns">
				<header class="section-head">
					<h2>What Parents are Saying About Us</h2>

					<img src="css/images/white-birds.png" class="birds-white" height="132" width="223" alt="" />
				</header><!-- /.section-head -->

				<div class="section-body">
					<div class="slider-testimonials">
						<div class="slider-clip">
							<ul class="slides">
								<li class="slide">
									<div class="slide-image">
										<img src="css/images/joanna.png" height="276" width="216" alt="" />
									</div><!-- /.slide-image -->

									<div class="slide-content">
										<h5>Joanna</h5>

										<p>Hi. I just wanted to let you know that Teddy is talking up a storm now. Your company lives up to its name "Chatterboxes! </p>
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/f_rabanal.png" height="201" width="251" alt="" />
									</div><!-- /.slide-image -->

									<div class="slide-content">
										<h5>F. Rabanal</h5>

										<p>My Husband said "What’s This? He’s eating Real Food?”</p>
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/gretchen_k.png" alt="" />
									</div><!-- /.slide-image -->

									<div class="slide-content">
										<h5>Gretchen K.</h5>

										<p>Luke eagerly looks forward to his sessions with you, Megan and he's grown leaps and bounds intellectually / verbal-communication-wise the past few months. Thank you!</p>
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

							</ul><!-- /.slides -->
						</div><!-- /.slider-clip -->

						 <div class="slider-paging">
					        <ul>
					            <li>
					            	<a href="#">1</a>
					            </li>

					            <li class="current">
					            	<a href="#">2</a>
					            </li>
					        </ul>
					    </div><!-- /.slider-paging -->
					</div><!-- /.slider-testimonials -->
				</div><!-- /.section-body -->
			</div><!-- /.medium-12 large-12 columns -->
		</div><!-- /.row -->
	</section><!-- /.section section-testimonials -->
