	<div class="video">
		<img src="css/images/temp/video.jpg" height="784" width="1600" alt="" />
	</div><!-- /.video -->

	<section class="section section-schedule">
		<div class="row">
			<div class="medium-12 large-12 columns">
				<div class="form-schedule">
					<form action="?" method="post">
						<header class="form-head">
							<h3>Schedule a Visit</h3>
						</header><!-- /.form-head -->
						
						<div class="form-body">
							<div class="form-row">
								<div class="form-controls">
									<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
								
									<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
									
									<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
									
									<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->
	
						<div class="form-actions">
							<input type="submit" value="Submit" class="form-btn" />
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-schedule -->
			</div><!-- /.medium-12 large-12 columns -->
		</div><!-- /.row -->
	</section><!-- /.section section-schedule -->

	<div class="container">
		<div class="container-body">
			<section class="section section-therapy">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Explore Our Therapy</h2>
			
							<p>Our therapy is available for children experiencing difficulty in any of the following areas:</p>
						</header><!-- /.section-head -->
			
						<div class="section-body">
							<ul class="therapy-items">
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image1.jpg" height="191" width="260" alt="" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Feeding Therapy</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image2.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Group Therapy</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image3.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>articulation </p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image4.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Pre-Literacy</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image5.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>LANGUAGE DISORDER
							</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image6.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Early Intervention</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image7.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Social Skills</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
								
								<li class="therapy-item">
									<div class="therapy-image">
										<img src="css/images/temp/therapy-image8.jpg" alt="" width="260" height="191" />
									</div><!-- /.therapy-image -->
									
									<div class="therapy-content">
										<p>Autism Spectrum</p>
									</div><!-- /.therapy-content -->
								</li><!-- /.therapy-item -->
							</ul><!-- /.therapy-items -->
						</div><!-- /.section-body -->
			
						<div class="section-actions">
							<a href="#" class="btn btn-more">
								<span>View more</span>
			
								<i class="ico ico-more"></i>
							</a>
						</div><!-- /.section-actions -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-therapy -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />
			
			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />
			
			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />
			
			<img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />
			
			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" /><!-- /.row -->
		</div><!-- /.container-images -->
	</div><!-- /.container -->

	<section class="section section-testimonials">
		<div class="row">
			<div class="medium-12 large-12 columns">
				<header class="section-head">
					<h2>What Parents are Saying About Us</h2>

					<img src="css/images/white-birds.png" class="birds-white" height="132" width="223" alt="" />
				</header><!-- /.section-head -->

				<div class="section-body">
					<div class="slider-testimonials">
						<div class="slider-clip">
							<ul class="slides">
								<li class="slide">
									<div class="slide-image">
										<img src="css/images/temp/testimonial-image.png" height="174" width="174" alt="" />
									</div><!-- /.slide-image -->

									<div class="slide-content">
										<h5>Madeline Graham</h5>

										<p>The difference in Jacob before, when he was receiving services at another facility, and how he is doing now since we've been coming here  is so dramatic.</p>
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->

								<li class="slide">
									<div class="slide-image">
										<img src="css/images/temp/testimonial-image.png" height="174" width="174" alt="" />
									</div><!-- /.slide-image -->

									<div class="slide-content">
										<h5>Madeline Graham</h5>

										<p>The difference in Jacob before, when he was receiving services at another facility, and how he is doing now since we've been coming here  is so dramatic.</p>
									</div><!-- /.slide-content -->
								</li><!-- /.slide -->
							</ul><!-- /.slides -->
						</div><!-- /.slider-clip -->

						 <div class="slider-paging">
					        <ul>
					            <li>
					            	<a href="#">1</a>
					            </li>

					            <li class="current">
					            	<a href="#">2</a>
					            </li>
					        </ul>
					    </div><!-- /.slider-paging -->
					</div><!-- /.slider-testimonials -->
				</div><!-- /.section-body -->
			</div><!-- /.medium-12 large-12 columns -->
		</div><!-- /.row -->
	</section><!-- /.section section-testimonials -->
