<h2> Chatterboxes </h2>

<p>
  <span>Hey Brittany!</span> New message from <%= @full_name %>:
</p>

<p><%= @message %></p>

<p>
  They can be reached at:
  <ul>
    <li>Phone: <%=  @phone %></li>
    <li>Email: <%= @email %> </li>
  </ul>
</p>
