<h2> Chatterboxes </h2>

<p><span>Hi Brittany,</span></p>

<p>New message from <%= @full_name %>.</p>

<p><em><%= @message %></em></p>

<p>
  They can be reached at:
  <ul>
    <li>Phone: <%=  @phone %></li>
    <li>Email: <%= @email %> </li>
  </ul>
</p>
