<div class="intro header-intro-services">
  <div class="header-image ot-header">
    <img src="css/images/temp/ot_who_we_help_2.jpg" alt="" />
  </div><!-- /.intro-image -->

  <div class="intro-content">
    <div class="row">
      <h1>Who we Help</h1>
    </div><!-- /.row -->
  </div><!-- /.intro-content -->
</div><!-- /.intro -->

<div class="container">
  <div class="container-body">
    <section class="section section-therapy section-therapy-alt">
      <div class="row">
        <div class="medium-12 large-12 columns">
          <header class="section-head">
            <h2>Our Therapy</h2>

            <p>Our therapy is available for children experiencing difficulty in any of the following areas:</p>
          </header><!-- /.section-head -->

          <div class="section-body">
            <div class="accordion-therapy" data-therapy-id=<%=@therapy_id%>>
              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='motor_skills'>Motor Skill Development</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/motor_skills.jpg" height="238" width="308" alt="Motor Skills" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Children who display delays in the gross and/or fine motor skills may have trouble
                      exploring their environment, participating in movement activities such as running, jumping, climbing, and independently performing functional tasks such as, feeding,
                      dressing, coloring, writing. The O.T. will work on developing the balance, strength and coordination skills necessary to be successful during play, tabletop activities, movement, fine motor activities and activities of daily living.
                    </p>

                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Motor Skills" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='visual_motor'>Visual Motor Integration</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/visual_motor.jpg" height="238" width="308" alt="Visual Motor Integration" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Visual motor integration allows our hand and eyes to work together. These skills are required for play, reading, writing, math and directly impact academic success. The O.T will work with your child to improve these skills through a variety of specifically designed activities and exercises.
                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Visual Motor Integration" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='ot_feeding'>Feeding</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/ot_feeding.jpg" height="238" width="308" alt="Feeding" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      The process of eating is critical for health and wellness and is an integral part of
                      a child’s development. Several factors can interfere with success in this skill including medical, motor, sensory, behavioral and environmental issues.
                      O.T. will assess the skills and needs of your child to have a successful and positive feeding experience. Positioning, stability, fine motor skills, oral motor ability, food tolerances and environmental influences will be evaluated.  Intervention may include motor therapy, positional recommendations, equipment, environmental adaptations, and food/drink modifications. Approaches such as, Sequential Oral Sensory Approach (SOS) will be utilized to address difficult feeding behaviors and improve mealtime success.
                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="OT Feeding" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='self_care'>Self-Care</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/self_care.jpg" height="238" width="308" alt="Self Care" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Independence with bathing, dressing, hygiene, sleeping and feeding are goals for all children. Occupational therapy looks at your child’s skill level, assesses their abilities and implements the practice, strategies, adaptations, equipment and/or techniques that ensure that your child attains the highest level of independence possible.
                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Self Care" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='ot_early_intervention'>Early Intervention</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/ot_early_intervention.jpg" height="238" width="308" alt="Early Intervention" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      The primary goal of occupational therapy in early intervention is the development
                      of age appropriate play skills and social interactions with parents and peers. Children with illness, injury, disabilities or special needs often benefit from therapy to improve these skills. Working with infants and young children enhances their early development and minimizes the potential for delay in attaining milestones.
                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="OT Early Intervention" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='prewriting'>Prewriting & Handwriting</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/prewriting.jpg" height="238" width="308" alt="Prewriting and Handwriting" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Writing is a communication tool and is a complex process of integrating visual, cognitive and motor skills. O.T. will evaluate the hand writing readiness and skill
                      of  a child and develop a program of therapeutic activities and exercises to promote
                      handwriting success. Collaboration with the school and employment of programs such as, Handwriting Without Tears may be a part of the therapy program.
                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Pre-writing and Handwriting" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='motor_planning'>Motor Planning</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/motor_planning.jpg" height="238" width="308" alt="Motor Planning" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Motor planning is the ability to come up with an idea, make a plan on how
                      to do it and then execute the plan. Good motor planning skill allows us
                      to carry out a step-by-step process to complete a motor activity (getting on
                      a tricycle). Children who have difficulty organizing themselves to move may need
                      assistance with motor planning.                     </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Motor Planning" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

              <section class="accordion-section">
                <header class="accordion-head">
                  <a href="#" class="btn btn-plus"></a>

                  <h4 id='behavioral_skills'>Behavioral and Social Skills</h4>
                </header><!-- /.accordion-head -->

                <div class="accordion-body">
                  <div class="accordion-image medium-6 columns">
                    <img src="css/images/temp/behavioral_skills.jpg" height="238" width="308" alt="Behavioral and Social Skills" />
                  </div><!-- /.accordion-image -->

                  <div class="accordion-content medium-6 columns">
                    <p>
                      Social skills contribute to a child’s ability to attain their developmental
                      milestones. It is important that a child can interact with adults and peers in a positive way. Occupational Therapy can help your child to learn social rules, be aware of others, learn specific social behaviors such as greeting a person,
                      develop strategies for self-management and problem solve in social situations.                    </p>
                  </div><!-- /.accordion-content -->

                  <div class="accordion-form">
                    <div class="form-schedule form-schedule-alt">
                      <form action="/ot" method="post">
                        <header class="form-head">
                          <h3>Schedule a Visit</h3>
                        </header><!-- /.form-head -->

                        <div class="form-body">
                          <div class="form-row">
                            <div class="form-controls">
                              <input type="text" class="field" placeholder="First name" name="first_name" id="fname" required />

                              <input type="text" class="field" placeholder="Last name" name="last_name" id="lname" required />

                              <input type="email" class="field" placeholder="Email address" name="email" id="mail" required />

                              <input type="tel" class="field" placeholder="Phone" name="phone" id="phone" required/>

                              <input type="hidden" name="therapy_type" value="Behavioral and Social Skills" />
                            </div><!-- /.form-controls -->
                          </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                          <input type="submit" value="Submit" class="form-btn" />
                        </div><!-- /.form-actions -->
                      </form>
                    </div><!-- /.form-schedule -->
                  </div><!-- /.accordion-form -->
                </div><!-- /.accordion-body -->
              </section><!-- /.accordion-section -->

          <div class="section-actions">
            <a href="/contact" class="btn btn-more">
              <span>Contact us</span>

              <i class="ico ico-more"></i>
            </a>
          </div><!-- /.section-actions -->
        </div><!-- /.medium-12 large-12 columns -->
      </div><!-- /.row -->
    </section><!-- /.section section-therapy -->
  </div><!-- /.container-body -->

  <div class="container-images">
    <img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

    <img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

    <img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

    <img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />

    <img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
  </div><!-- /.container-images -->
</div><!-- /.container -->
