<div class="container">
  <div class="container-body">
    <div class="privacy-content">
      <div class="row">
        <div class="small-11 small-centered columns">
          <h2>Privacy Policy</h2>

          <p>
            Chatterboxes is committed to maintaining robust privacy protections for its users.  Our Privacy Policy ("Privacy Policy") is designed to help you understand how we collect, use and safeguard the information you provide to us and to assist you in making informed decisions when using our Service.
          </p>
          <p>
            For purposes of this Agreement, "Service" refers to the Company's service which can be accessed via our website at www.TeamChatterboxes.com where users can learn more about our services. The terms "we," "us," and "our" refer to the Company. "You" refers to you, as a user of Service.
          </p>

          <h3>I.  Information We Collect</h3>

          <p>
            We collect "Non-Personal Information" and "Personal Information."  Non-Personal Information includes information that cannot be used to personally identify you, such as anonymous usage data, general demographic information we may collect, referring/exit pages and URLs, platform types, preferences you submit and preferences that are generated based on the data you submit and number of clicks.  Personal Information includes only your email, which you submit to us through the registration process at the Site.
          </p>
          <p>
            As you browse www.TeamChatterboxes.com advertising cookies will be placed on your computer so that we can understand what you are interested in. Our display advertising partner, AdRoll, then enables us to present you with retargeting advertising on other sites based on your previous interaction with www.TeamChatterboxes.com. The techniques our partners employ do not collect personal information such as your name, email address, postal address, or telephone number.  You can visit this page to opt out of AdRoll’s and their partners' targeted advertising.
          </p>

          <h3>II.  How We Use and Share Information</h3>

          <p>
            <em>Personal Information:</em>
          </p>
          <p>
            Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent. We do share Personal Information with vendors who are performing services for the Company, such as the servers for our email communications who are provided access to user’s email address for purposes of sending emails from us.  Those vendors use your Personal Information only at our direction and in accordance with our Privacy Policy.
      In general, the Personal Information you provide to us is used to help us communicate with you.  For example, we use Personal Information to contact users in response to questions, solicit feedback from users, provide technical support, and inform users about promotional offers.
          </p>
          <p>
            <em>Non-Personal Information:</em>
          </p>
          <p>
            In general, we use Non-Personal Information to help us improve the Service and customize the user experience.  We also aggregate Non-Personal Information in order to track trends and analyze use patterns on the Site.  This Privacy Policy does not limit in any way our use or disclosure of Non-Personal Information and we reserve the right to use and disclose such Non-Personal Information to our partners, advertisers and other third parties at our discretion.
          </p>

          <h3>III.  How We Protect Information</h3>

          <p>
            We implement security measures designed to protect your information from unauthorized access.  Your account is protected by your account password and we urge you to take steps to keep your personal information safe by not disclosing your password and by logging out of your account after each use.
          </p>

          <h3>IV.  Your Rights Regarding the User of Your Personal Information</h3>

          <p>
            You have the right at any time to prevent us from contacting you for marketing purposes.  When we send a promotional communication to a user, the user can opt out of further promotional communications by following the unsubscribe instructions provided in each promotional e-mail.  You can also indicate that you do not wish to receive marketing communications from us by contacting megan@teamchatterboxes.com.
          </p>

          <h3>V.  Changes to Our Privacy Policy</h3>

          <p>
            The Company reserves the right to change this policy and our Terms of Service at any time.  We will notify you of significant changes to our Privacy Policy by sending a notice to the primary email address specified in your account or by placing a prominent notice on our site.  Significant changes will go into effect 30 days following such notification.  Non-material changes or clarifications will take effect immediately. You should periodically check the Site and this privacy page for updates.
          </p>

          <h3>VI.  Contact Us</h3>

          <p>
            If you have any questions regarding this Privacy Policy or the practices of this Site, please contact us by sending an email to megan@teamchatterboxes.com.
          </p>
          <br/>
          <div class="text-center">
            <p>
              Last Updated: This Privacy Policy was last updated on 3.5.15
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
