	<div class="intro intro-services">
		<div class="intro-image">
			<img src="css/images/temp/intro-service.jpg" height="286" width="1600" alt="" />
		</div><!-- /.intro-image -->

		<div class="intro-content">
			<div class="row">
				<h1>Who we Help</h1>
			</div><!-- /.row -->
		</div><!-- /.intro-content -->
	</div><!-- /.intro -->

	<div class="container">
		<div class="container-body">
			<section class="section section-therapy section-therapy-alt">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<h2>Our Therapy</h2>

							<p>Our therapy is available for children experiencing difficulty in any of the following areas:</p>
						</header><!-- /.section-head -->

						<div class="section-body">
							<div class="accordion-therapy">
								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='feeding'>Feeding</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='articulation'>Articulation</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='oral-motor'>Oral Motor</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='language-disorder'>Language Disorder</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='pre-literacy'>Pre-Literacy</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='phonological-process'>Phonological Process</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='auditory-processing'>Auditory Processing</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='executive-functioning'>Executive Functioning</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='early-intervention'>Early Intervention: Speech and Language Delay</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='stuttering'>Stuttering/Fluency</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='tongue-thrust'>Tongue Thrust</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='apraxia'>Apraxia of Speech/Motor Speech Disorders</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='social-skills'>Social Skills/Pragmatics</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p>During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->

								<section class="accordion-section">
									<header class="accordion-head">
										<a href="#" class="btn btn-plus"></a>

										<h4 id='autism'>Autism Spectrum</h4>
									</header><!-- /.accordion-head -->

									<div class="accordion-body">
										<div class="accordion-image">
											<img src="css/images/temp/image1.jpg" height="238" width="308" alt="" />
										</div><!-- /.accordion-image -->

										<div class="accordion-content">
											<p> During feeding therapy, we work closely with children and their parents to develop a positive feeding relationship so as to foster healthy feeding habits during the early stages of a child's life. Our feeding therapy program employs motor exercises, oral-motor techniques and/or procedures to optimize mealtime structure, as well as to explore new food types and 
textures. Sessions may be individual, or offered in a group setting, depending on the needs of the child. Please refer to our Feeding Section to learn more.</p>
										</div><!-- /.accordion-content -->

										<div class="accordion-form">
											<div class="form-schedule form-schedule-alt">
												<form action="?" method="post">
													<header class="form-head">
														<h3>Schedule a Visit</h3>
													</header><!-- /.form-head -->
													
													<div class="form-body">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="field" placeholder="First name" name="fname" id="fname" />
															
																<input type="text" class="field" placeholder="Last name" name="lname" id="lname" />
																
																<input type="text" class="field" placeholder="Email address" name="mail" id="mail" />
																
																<input type="text" class="field" placeholder="Phone" name="phone" id="phone" />
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.form-body -->
								
													<div class="form-actions">
														<input type="submit" value="Submit" class="form-btn" />
													</div><!-- /.form-actions -->
												</form>
											</div><!-- /.form-schedule -->
										</div><!-- /.accordion-form -->
									</div><!-- /.accordion-body -->
								</section><!-- /.accordion-section -->
							</div><!-- /.accordion-therapy -->
						</div><!-- /.section-body -->

						<div class="section-actions">
							<a href="#" class="btn btn-more">
								<span>Contact us</span>
			
								<i class="ico ico-more"></i>
							</a>
						</div><!-- /.section-actions -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-therapy -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud" alt="" width="163" height="107" />
			
			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />
			
			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />
			
			<img src="css/images/cloud-big.png" class="cloud-large" height="183" width="280" alt="" />
			
			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
