	<div class="intro intro-services">
		<div class="intro-image">
			<img src="css/images/temp/intro-started.jpg" height="286" width="1600" alt="" />
		</div><!-- /.intro-image -->

		<div class="intro-content">
			<div class="row">
				<h1>Getting Started</h1>
			</div><!-- /.row -->
		</div><!-- /.intro-content -->
	</div><!-- /.intro -->

	<div class="container">
		<div class="container-body">
			<section class="section section-started">
				<div class="row">
					<div class="medium-12 large-12 columns">
						<header class="section-head">
							<p>The entire Chatterbox team is fully committed to helping make our new patient's transition into our practice a smooth, but more importantly, enjoyable, process. </p>
						</header><!-- /.section-head -->

						<div class="section-body">
							<div class="row">
								<div class="medium-6 large-6 columns">
									<div class="form-sign">
										<form action="/started" method="post">
											<div class="form-inner">
												<header class="form-head" id='started-form-header'>
													<h3>Send Us A Message</h3>
												</header><!-- /.form-head -->

												<div class="form-body">
													<div class="form-row">
														<div class="form-controls">
															<input type="text" class="field" id="name" placeholder="Name" name="name" required/>
														</div><!-- /.form-controls -->
													</div><!-- /.form-row -->

													<div class="form-row">
														<div class="form-controls">
															<input type="email" class="field" id="email" placeholder="Email" name="email" required/>
														</div><!-- /.form-controls -->
													</div><!-- /.form-row -->

													<div class="form-row">
														<div class="form-controls">
															<input type="tel" class="field" id="phone" placeholder="Phone number" name="phone" required/>
														</div><!-- /.form-controls -->
													</div><!-- /.form-row -->
													<div class="form-row">
														<div class="form-controls">
															<select name="location">
																<option value="Lexington">Lexington</option>
																<option value="Newton Centre">Newton Centre</option>
															</select>
														</div>
													</div>

													<div class="form-row">
														<div class="form-controls">
															<textarea type="text" class="textarea" id="message" placeholder="Message" name="message" rows='6' required></textarea>
														</div><!-- /.form-controls -->
													</div><!-- /.form-row -->
												</div><!-- /.form-body -->

												<div class="form-actions">
													<input type="submit" value="Submit" class="form-btn" />
												</div><!-- /.form-actions -->
											</div><!-- /.form-inner -->
										</form>
									</div><!-- /.form-sign -->
								</div><!-- /.medium-offset-1 large-offset-1 medium-4 large-4 columns -->

								<div class="medium-6 large-6 columns">
									<div class="slider-testimonial-small">
										<div class="slider-clip">
											<div class='row'>
												<div class='medium-offset-2 medium-10 columns'>
													<h2>What Parents Have to Say</h2>
												</div>
											</div>
											<ul class="slides">
												<li class="slide">
													<div class="slide-content">
														<blockquote>
															"Our son is so thrilled to come to Chatterboxes, that we can’t tell him he’s going until the morning of his session. If we tell him the night before, he’s so excited that he's up all night and he can’t sleep!"
														</blockquote>

														<span>Mark Ford</span>
													</div><!-- /.slide-content -->
												</li><!-- /.slide -->

												<li class="slide">
													<div class="slide-content">

														<blockquote>
															"The difference in Jacob before, when he was receiving services at another facility, and how he is doing now since we've been coming to Chatterboxes is so dramatic. This is where he needs to be."
														</blockquote>

														<span>Madeline Graham</span>
													</div><!-- /.slide-content -->
												</li><!-- /.slide -->

												<li class="slide">
													<div class="slide-content">

														<blockquote>
															"We're extremely happy with the progress our son has made, and we're grateful to our therapist for the techniques she used and taught us how to use, so we could improve his communication. The people at Chatterboxes are extremely caring and passionate about what they do and it shows in all of their interactions."
														</blockquote>

														<span>Melanie T.</span>
													</div><!-- /.slide-content -->
												</li><!-- /.slide -->

												<li class="slide">
													<div class="slide-content">

														<blockquote>
															"You not only have given our son his voice but you have boosted his confidence. We talk about you all in our house on a daily basis and I thank you from the bottom of my heart."
														</blockquote>

														<span>Marci Rosenstein</span>
													</div><!-- /.slide-content -->
												</li><!-- /.slide -->

												<li class="slide">
													<div class="slide-content">

														<blockquote>
															"After 3 months of feeding therapy: OMG he is eating everything I give him now. He is like a new person!"
														</blockquote>

														<span>J. Doyle</span>
													</div><!-- /.slide-content -->
												</li><!-- /.slide -->

											</ul><!-- /.slides -->
										</div><!-- /.slider-clip -->
										<div class="slider-actions">
											<a href="#" class="slider-prev"></a>

											<a href="#" class="slider-next"></a>
										</div><!-- /.slider-actions -->
									</div><!-- /.slider-testimonial-small -->
								</div><!-- /.medium-offset-1 large-offset-1 medium-6 large-6 columns -->
							</div><!-- /.row -->
						</div><!-- /.section-body -->

						<footer class="section-foot">
							<article class="article">
								<header class="article-head">
									<h3>Comprehensive  insurance  reimbursement Program</h3>
								</header><!-- /.article-head -->

								<div class="article-body">
									<p>Our billing structure allows our therapists to carry smaller, more manageable caseloads uncommonly present within typical private practices. This gives our SLP's the opportunity to have higher time-patient ratios and allows for in-depth planning/consultation periods before and after each session. In addition, our therapists incorporate comprehensive visits to schools, physicians and other professionals in the child's life that aid in the provision of extremely beneficial services, all at no additional cost to the patient. We've found that this opportunity for increased concentration on our patients leads to dramatically
improved therapy results and is one of the reasons behind our superlative praises from our patients, peers and medical community members.</p>
								</div><!-- /.article-body -->
							</article><!-- /.article -->
						</footer><!-- /.section-foot -->
					</div><!-- /.medium-12 large-12 columns -->
				</div><!-- /.row -->
			</section><!-- /.section section-started -->
		</div><!-- /.container-body -->

		<div class="container-images">
			<img src="css/images/cloud.png" class="cloud cloud-alt" alt="" width="163" height="107" />

			<img src="css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

			<img src="css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

			<img src="css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

			<img src="css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
		</div><!-- /.container-images -->
	</div><!-- /.container -->
