<div class="bio-page">
  <div class="intro intro-services">
    <div class="intro-image">
      <img src="/css/images/temp/intro-about.jpg" height="286" width="1600" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Abby Ziegler</h2>

              <p>
                Speech-Language Pathologist
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/abby_bio.jpeg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Abby Ziegler, M.A., CCC-SLP</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/in/abby-ziegler-9a3a17108/" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Abby’s positive demeanor and fun spirit encourage creative therapy sessions that engage children of all ages.  She is passionate about collaborating with families and other providers in order to implement functional treatment, which she believes is a critical component to achieving therapy goals during and outside of sessions.
                  </p>

                  <p>
                    Abby received her Bachelor of Applied Arts (B.A.A.) in communication disorders and Spanish and her Masters of Arts (M.A.) in Speech Language Pathology, both from Central Michigan University.  She is a certified member of the American Speech-Language Hearing Association (ASHA).
                  </p>

                  <p>
                    Abby has had the opportunity to evaluate and treat feeding and swallowing disorders, as well as speech, fluency, voice, pragmatic and language disorders in a children’s hospital and private practice setting.  Through these experiences, Abby has collaborated with a wide variety of disciplines.  She has been involved with medically complex cases that have challenged her expertise and knowledge in the area, which is one of the reasons why she loves this profession.
                  </p>

                  <p>
                    Abby can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:abby@teamchatterboxes.com">abby@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-8 large-offset-2 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office9.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office8.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office7.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office6.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
</div>
