<div class="bio-page">
  <div class="intro intro-services">
    <div class="intro-image">
      <img src="/css/images/temp/intro-about.jpg" height="286" width="1600" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Anya Kroytor</h2>

              <p>
                Speech-Language Pathologist
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/anya_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Anya Kroytor M.S., CCC-SLP</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Anya's passion for working with children and families as well as her enthusiastic, high energy, and encouraging personality helps create a positive and effective environment that facilitates success in speech and language development. Anya believes establishing a comfortable and dynamic rapport with the children and families is integral to achieving speech and language goals. Through her implementation of play-based therapy, PROMPT therapy, and co-collaboration, she uses a multimodal approach to help clients reach their goals.
                  </p>

                  <p>
                    Anya evaluates and treats children ranging from 13 months to 18 years old with various speech and language issues and a variety of diagnoses including: receptive and expressive language delays, pragmatic disorders, articulation disorders, phonological disorders, developmental delays, Autism, feeding disorders, childhood apraxia of speech, and fluency disorders. She has experience in a variety of settings including private practice, home health, and schools.
                  </p>

                  <p>
                    Anya received her Bachelor’s degree in Psychology at the University of Central Florida. She received her Master’s degree in Speech-Language Pathology at the University of Central Florida. She is a certified member of the American Speech-Language Hearing Association (ASHA). Her professional interests include Autism Spectrum Disorder, anxiety disorders, mixed Receptive/ Expressive Language Delay, and Childhood Apraxia of Speech.
                  </p>

                  <p>
                    Anya currently lives in Brookline. Anya speaks Russian and Spanish and enjoys learning new languages. Her hobbies include improv comedy, boxing, traveling, and cooking.
                  </p>

                  <p>
                    Anya can be reached via our main phone at <a href="tel:6179698255">617-969-TALK (8255)</a> or via email at <a href="mailto:anya@teamchatterboxes.com">anya@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-8 large-offset-2 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office9.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office8.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office7.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office6.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
</div>
