  <div class="intro intro-services">
    <div class="intro-image">
      <img src="/css/images/temp/intro-about.jpg" height="286" width="1600" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Heather Hachenburg</h2>

              <p>
                Speech-Language Pathologist
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/heather_bio.png" height="390" width="257" alt="Heather Hachenburg - Speech Pathologist" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Heather Hachenburg, M.S., CCC-SLP</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/profile/view?id=238338199&authType=NAME_SEARCH&authToken=wxK7&locale=en_US&trk=tyah&trkInfo=tarId%3A1411586397455%2Ctas%3AHeather%20Hachen%2Cidx%3A1-1-1" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Heather's energetic and creative personality creates a positive environment for her patients to learn and achieve their goals. Heather establishes connections with her patients with ease, and tailors therapy sessions to each patient's individual needs and interests. Maintaining open communication with team members (parents, teachers, occupational therapists, physical therapists, etc.) is one of Heather's priorities. Heather believes that for a child to be successful and reach their speech and language goals, all team members must work together and communicate on an on-going basis. Heather goes the extra mile, diligently creating home programs and ensuring that goals and reports are comprehensible to all team members. Heather believes that constant practice and generalization of skills is an integral part of the therapy process and a child's success. Through the implementation of play-based therapy and a multimodality approach, Heather strives for her patients to be successful in reaching their optimal potentials.
                  </p>

                  <p>
                    As a member of the Chatterboxes team, Heather evaluates and treats children ranging from early intervention to school-aged with expressive and receptive language delays and disorders, pragmatic language disorders, articulation disorders, Autism Spectrum Disorders, phonological disorders, fluency disorders and feeding disorders.
                  </p>

                  <p>
                    Heather is trained in PROMPT therapy, a motor-speech based therapy approach that utilizes a tactile cueing system for facilitating speech sound production. This method is highly effective with all types of speech sound delays and disorders and is particularly useful with children diagnosed with Childhood Apraxia of Speech (CAS). Additionally, Heather is trained in the AEIOU Systematic Approach to Pediatric Feeding and the SOS Approach to Feeding.
                  </p>

                  <p>
                    Heather graduated from The George Washington University with a Bachelor of Arts in Speech and Hearing Science where she served as the Co-Vice President and Co-President of the National Student Speech Language and Hearing Committee. She was also a Volunteer Research Assistant for a Bilingual Acquisition Project entitled "Patterns of Spanish-English Bilingual First Language Acquisition and their Environmental Correlates" funded by the Institutes of Health. She subsequently earned her Master of Arts in Speech Language Pathology from The George Washington University.
                  </p>

                  <p>
                    Heather currently resides in Chestnut Hill. She enjoys hiking, cooking, traveling, reading, and spending time with family and friends.
                    Heather can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:heather@teamchatterboxes.com">heather@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office5.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office4.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office1.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office3.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
