<div class="bio-page">
  <div class="intro header-intro-services">
    <div class="header-image">
      <img src="/css/images/temp/intro-about-2.jpg" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Katie Lichenstein CCC-SLP</h2>

              <p>
                Speech-Language Pathologist
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/katie_bio.jpg" alt="" width="281" height="259" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Katie Lichenstein, CCC-SLP</h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/chatterboxes-pediatric-speech-language-pathology/about/" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Katie’s passion to help others, as well as her enthusiastic and warm personality, create a positive energy that helps clients work towards achieving their full potential.
                  </p>

                  <p>
                    Katie has evaluated and provided speech and language services to children in the public school setting, as well as to adults in acute care hospitals and outpatient clinics. She has worked with a variety of diagnoses including: autism spectrum disorder, childhood apraxia of speech, expressive/receptive language disorders, developmental delays, fluency disorders, articulation and phonological disorders, pragmatic disorders, neurological disorders and swallowing disorders. Katie is LSVT LOUD certified and enjoys staying up-to-date on innovative treatment strategies.
                  </p>

                  <p>
                    One of Katie's strengths is her ability to collaborate with occupational and physical therapists, and work alongside parents, teachers and other professionals to maximize a child's potential across disciplines.
                  </p>

                  <p>
                    Katie earned her Bachelor of Science in Communication Disorders from The University of Massachusetts Amherst and her Master of Science in Speech Language Pathology from Molloy College in Rockville Centre, New York. During her time in graduate school, Katie participated in a mission trip to Kingston, Jamaica where she and a team of medical professionals conducted speech, language and hearing screenings, as well as provided resources and education to members of the under-served community. Katie received her Certificate of Clinical Competence from the American Speech Language Hearing Association (ASHA) and is licensed to practice speech-language pathology within the Commonwealth of Massachusetts.
                  </p>

                  <p>
                    Katie currently lives in Boston. She enjoys the ocean, spending time with her puppy, friends and family, traveling, cooking, playing basketball and watching Boston sports.
                  </p>

                  <p>
                    Katie can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:katie@teamchatterboxes.com">katie@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-8 large-offset-2 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office1.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office2.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office3.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office4.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office5.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
</div>
