<div class="bio-page">
  <div class="intro header-intro-services">
    <div class="header-image">
      <img src="/css/images/temp/intro-about-2.jpg" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Megan Rozantes</h2>

              <p>
                Speech-Language Pathologist, Director
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/megan_bio.png" height="390" width="257" alt="Megan Rozantes - Speech Pathologist" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4>Megan Rozantes, M.S., CCC-SLP</h4>

                  <span>Speech-Language Pathologist, Director</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/megan.rozantes.5" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://twitter.com/ChatterboxesSLP" class="link-twitter" target="_blank">twitter</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/profile/view?id=194329185&trk=nav_responsive_tab_profile_pic" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Megan's passion for helping others coupled with her enthusiasm for working with young children as a Speech-Language
                    Pathologist serves as the cornerstone of Chatterboxes' core values and standards. Megan's positive personality and steadfast desire to transform the provision of speech-language services into a delightful experience for children and their parents led her to found Chatterboxes to be the best-in-class pediatric practice that it is today.
                  </p>

                  <p>
                    Megan is always available to past, current or future patients as well as any other parents who may be seeking advice or guidance regarding their children's communicative skills and/or speech and language development.
                  </p>

                  <p>
                    Megan can be reached via our main phone at <span>617-969-TALK (8255)</span> or via email at <a href="mailto:megan@teamchatterboxes.com">megan@teamchatterboxes.com.</a>
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-8 large-offset-2 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office1.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office2.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office3.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office4.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/chatterboxes-office5.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
</div>
