<div class="bio-page">
  <div class="intro intro-services">
    <div class="intro-image">
      <img src="/css/images/temp/intro-about.jpg" height="286" width="1600" alt="" />
    </div><!-- /.intro-image -->

    <div class="intro-content">
      <div class="row">
        <h1>About Us</h1>
      </div><!-- /.row -->
    </div><!-- /.intro-content -->
  </div><!-- /.intro -->

  <div class="container">
    <div class="container-body">
      <section class="section section-team single">
        <div class="row">
          <div class="medium-12 large-12 columns">
            <header class="section-head">
              <h2>Suzie McGinn</h2>

              <p>
                Speech-Language Pathologist
              </p>
              <p><a href="/about">Back to the team</a></p>
            </header><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-team">
                <div class="slider-clip">
                  <ul class="slides">

                    <li class="slide current single">
                      <div class="slide-image staff-bio">
                        <img src="/css/images/temp/suzie_bio.jpg" alt="Suzie McGinn - Speech Language Pathologist" width="281" height="259" />
                      </div><!-- /.slide-image -->

                    </li><!-- /.slide -->

                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->
              </div><!-- /.slider-team -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-team -->

      <div class='bio-paragraphs'>
        <section class="section section-current">
          <div class="row">
            <div class="medium-12 large-12 columns">
              <div class="section-body">
                <div class="section-inner">
                  <h4><a href="/about/suzie">Suzie McGinn, M.S., CCC-SLP</a></h4>

                  <span>Speech-Language Pathologist</span>

                  <div class="socials">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/TeamChatterboxes?ref=br_rs" class="link-facebook" target="_blank">facebook</a>
                      </li>

                      <li>
                        <a href="https://www.linkedin.com/company/2681851?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2681851%2Cidx%3A1-1-1%2CtarId%3A1445266599158%2Ctas%3Achatterboxes" class="link-linkedin" target="_blank">linkedin</a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->

                  <p>
                    Suzie's engaging personality and enthusiasm for working with young children and their families help create a positive environment for children to achieve success in their speech and language skills. Suzie fosters collaboration with families and other professionals including specialists, teachers, and other team members, in a child's therapy. Such collaboration is essential in the treatment process, to foster client growth and carryover. Suzie excels in utilizing a play-based therapy style that is tailored to each child's interests as a means to make therapy fun and functional.
                  </p>

                  <p>
                    Suzie's strong experience  with the pediatric population encompasses a variety of settings including private practice, public school, and rehabilitation centers.
                  </p>

                  <p>
                    Suzie evaluates and treats children ranging from age 18 months to 15 years with various speech-language issues including: articulation and phonological disorders, expressive and receptive language delays and disorders, Autism Spectrum Disorder, pragmatic language disorders, Childhood Apraxia of Speech, fluency disorder, voice disorders, tongue thrust, and feeding disorders. Suzie implements the SMILE Program, by Robyn Merkel, to treat tongue thrusts and lisps.
                  </p>

                  <p>
                    Suzie obtained her undergraduate degree from Assumption College, where she studied human services and rehabilitation studies with a concentration in communication disorders. She graduated from the College of Saint Rose with a Master of Science degree in speech-language pathology. Suzie received her certificate of clinical competence from the American Speech-Language-Hearing Association (ASHA) and is licensed to practice speech-language pathology within the Commonwealth of Massachusetts.
                  </p>

                  <p>
                    Suzie resides in Boston. Her hobbies include traveling, friends, and being with family.
                  </p>
                  <p>
                    Suzie can be reached via our main phone at 617-969-TALK (8255) or via email at <a href="mailto:suzie@teamchatterboxes.com">suzie@teamchatterboxes.com</a>.
                  </p>
                </div><!-- /.section-inner -->
              </div><!-- /.section-body -->
            </div><!-- /.medium-12 large-12 columns -->
          </div><!-- /.row -->
        </section><!-- /.section section-director -->
      </div><!-- /.bio-paragraphs -->

      <section class="section section-office">
        <div class="row">
          <div class="medium-12 large-8 large-offset-2 columns">
            <div class="section-head">
              <h2>tour our offices</h2>

              <p>
                Our offices have been designed specifically to put our patients at ease by welcoming them into a warm and fun environment.
              </p>
            </div><!-- /.section-head -->

            <div class="section-body">
              <div class="slider-office">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office9.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office8.jpg" height="555" width="867" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office7.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office2.jpg" height="555" width="722" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->

                    <li class="slide">
                      <div class="slide-image">
                        <img src="/css/images/temp/high_res_office6.jpg" height="555" width="361" alt="" />
                      </div><!-- /.slide-image -->
                    </li><!-- /.slide -->
                  </ul><!-- /.slides -->
                </div><!-- /.slider-clip -->

                <div class="slider-paging">
                  <ul>
                    <li>
                      <a href="#">1</a>
                    </li>

                    <li class="current">
                      <a href="#">2</a>
                    </li>

                    <li class="current">
                      <a href="#">3</a>
                    </li>

                    <li class="current">
                      <a href="#">4</a>
                    </li>

                    <li class="current">
                      <a href="#">5</a>
                    </li>
                  </ul>
                </div><!-- /.slider-paging -->

                <div class="slider-images">
                  <img src="/css/images/image-boy.png" height="110" width="59" class="slider-boy" alt="" />

                  <img src="/css/images/image-girl.png" height="121" width="71" class="slider-girl" alt="" />
                </div><!-- /.slider-images -->
              </div><!-- /.slider-office -->
            </div><!-- /.section-body -->
          </div><!-- /.medium-12 large-12 columns -->
        </div><!-- /.row -->
      </section><!-- /.section section-office -->
    </div><!-- /.container-body -->

    <div class="container-images">
      <img src="/css/images/cloud.png" class="cloud" alt="" width="163" height="107" />

      <img src="/css/images/image-birds-small.png" class="birds-small" alt="" width="223" height="132" />

      <img src="/css/images/image-birds-big.png" class="birds-large" alt="" width="132" height="123" />

      <img src="/css/images/cloud.png" class="cloud-large" height="107" width="163" alt="" />

      <img src="/css/images/cloud-small.png" class="cloud-small" height="79" width="121" alt="" />
    </div><!-- /.container-images -->
  </div><!-- /.container -->
</div>
